interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "47123/1/24"}]}],
      "version": "1.1", "id": "06047800713931506"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"cells":[{"cell_type":"code","execution_count":null,"metadata":{"kbase":{"attributes":{"created":"Tue,
        11 Feb 2020 01:31:55 GMT","icon":"code","id":"28fe3e2d-f089-4632-8e2b-f84be8d50412","lastLoaded":"Tue,
        11 Feb 2020 01:31:55 GMT","status":"new","title":"Code Cell"},"codeCell":{"userSettings":{"showCodeInputArea":true}},"type":"code"}},"outputs":[],"source":""},{"cell_type":"code","execution_count":2,"metadata":{"kbase":{"appCell":{"app":{"gitCommitHash":"b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa","id":"NarrativeTest/report_html_links","spec":{"behavior":{"kb_service_input_mapping":[{"narrative_system_variable":"workspace","target_property":"workspace_name"},{"input_parameter":"num_pages","target_property":"num_pages"},{"input_parameter":"initial_page","target_property":"initial_page"},{"input_parameter":"include_direct","target_property":"include_direct_html"}],"kb_service_method":"report_html_links","kb_service_name":"NarrativeTest","kb_service_output_mapping":[{"service_method_output_path":["0","report_name"],"target_property":"report_name"},{"service_method_output_path":["0","report_ref"],"target_property":"report_ref"},{"constant_value":"16","target_property":"report_window_line_height"}],"kb_service_url":"","kb_service_version":"b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa"},"fixed_parameters":[],"info":{"app_type":"app","authors":["wjriehl"],"categories":[],"git_commit_hash":"b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa","id":"NarrativeTest/report_html_links","input_types":[],"module_name":"NarrativeTest","name":"HTML
        Report with links","namespace":"NarrativeTest","output_types":[],"subtitle":"Show
        an example HTML Report","tooltip":"Show an example HTML Report","ver":"0.0.2"},"job_id_output_field":"docker","parameters":[{"advanced":0,"allow_multiple":0,"default_values":["1"],"description":"This
        is the number of pages that will be generated for the report.","disabled":0,"field_type":"text","id":"num_pages","optional":0,"short_hint":"Set
        the number of pages","text_options":{"is_output_name":0,"min_int":1,"placeholder":"","regex_constraint":[],"validate_as":"int"},"ui_class":"parameter","ui_name":"Number
        of Pages"},{"advanced":0,"allow_multiple":0,"default_values":["1"],"description":"This
        sets the first page to show in your multipage report.","disabled":0,"field_type":"text","id":"initial_page","optional":1,"short_hint":"The
        first page to show","text_options":{"is_output_name":0,"min_int":1,"placeholder":"","regex_constraint":[],"validate_as":"int"},"ui_class":"parameter","ui_name":"Initial
        Page"},{"advanced":0,"allow_multiple":0,"checkbox_options":{"checked_value":1,"unchecked_value":0},"default_values":[""],"description":"Using
        a direct_html entry and no pages should show the direct_html as the report.","disabled":0,"field_type":"checkbox","id":"include_direct","optional":1,"short_hint":"Select
        to include a \"direct_html\" entry","ui_class":"parameter","ui_name":"Use
        direct HTML"}],"widgets":{"input":"null","output":"no-display"}},"tag":"dev","version":"0.0.2"},"exec":{"jobState":{"authstrat":"kbaseworkspace","cell_id":"aa1fac03-c2be-45b1-ba60-e42f89dbe87e","child_jobs":[],"created":1581541418000,"finished":1581541507619,"job_id":"5e44682a5619be5eada7e085","job_input":{"app_id":"NarrativeTest/report_html_links","method":"NarrativeTest.report_html_links","narrative_cell_info":{"cell_id":"aa1fac03-c2be-45b1-ba60-e42f89dbe87e","run_id":"d80fa448-c0fc-467d-9871-6b287ff16dd8","tag":"dev","token_id":"f5478b40-075e-4080-a941-877ff2cc0c5f"},"params":[{"include_direct_html":0,"initial_page":1,"num_pages":1,"workspace_name":"wjriehl:narrative_1581384702051"}],"parent_job_id":"None","requirements":{"clientgroup":"njs","cpu":4,"disk":30,"memory":2000},"service_ver":"b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa","source_ws_objects":[],"wsid":47123},"job_output":{"id":"5e44682a5619be5eada7e085","result":[{"report_name":"NarrativeTest.example_report-c2deb2ed-a77a-4c47-bef3-66fff218ce04","report_ref":"47123/4/1"}],"version":"1.1"},"queued":1581541419302,"run_id":"d80fa448-c0fc-467d-9871-6b287ff16dd8","running":1581541437610,"scheduler_id":"13605","scheduler_type":"condor","status":"completed","updated":1581541507619,"user":"wjriehl","wsid":47123},"jobStateUpdated":1581541515809,"launchState":{"cell_id":"aa1fac03-c2be-45b1-ba60-e42f89dbe87e","event":"launched_job","event_at":"2020-02-12T21:03:39.674066Z","job_id":"5e44682a5619be5eada7e085","run_id":"d80fa448-c0fc-467d-9871-6b287ff16dd8"},"outputWidgetInfo":{"name":"no-display","params":{"report_name":"NarrativeTest.example_report-c2deb2ed-a77a-4c47-bef3-66fff218ce04","report_ref":"47123/4/1","report_window_line_height":"16"},"tag":"dev"}},"fsm":{"currentState":{"mode":"success"}},"newAppName":"HTML
        Report with links","outdated":true,"output":{"byJob":{"5e44682a5619be5eada7e085":{"cell":{"created":false},"createdAt":"Wed,
        12 Feb 2020 21:05:15 GMT","params":{"include_direct":0,"initial_page":1,"num_pages":1}}}},"params":{"include_direct":0,"initial_page":1,"num_pages":1},"user-settings":{"showCodeInputArea":false}},"attributes":{"created":"Wed,
        12 Feb 2020 21:03:35 GMT","id":"aa1fac03-c2be-45b1-ba60-e42f89dbe87e","info":{"label":"more...","url":"/#appcatalog/app/NarrativeTest/report_html_links/dev"},"lastLoaded":"Wed,
        12 Feb 2020 22:54:54 GMT","status":"new","subtitle":"Show an example HTML
        Report","title":"HTML Report with links"},"type":"app"}},"outputs":[],"source":"from
        biokbase.narrative.jobs.appmanager import AppManager\nAppManager().run_app(\n    \"NarrativeTest/report_html_links\",\n    {\n        \"num_pages\":
        1,\n        \"initial_page\": 1,\n        \"include_direct\": 0\n    },\n    tag=\"de[...]
- request:
    body: '{"method": "ServiceWizard.get_service_status", "params": [{"module_name":
      "SetAPI", "version": "release"}], "version": "1.1", "id": "8332773455732081"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/service_wizard
  response:
    body:
      string: '{"version": "1.1", "result": [{"git_commit_hash": "5a838320de2b4884f11457a51a26870eadb175f6",
        "status": "active", "version": "0.3.5", "hash": "5a838320de2b4884f11457a51a26870eadb175f6",
        "release_tags": ["release", "beta"], "url": "https://ci.kbase.us:443/dynserv/5a838320de2b4884f11457a51a26870eadb175f6.SetAPI",
        "module_name": "SetAPI", "health": "healthy", "up": 1}], "id": "8332773455732081"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "SetAPI.list_sets", "params": [{"workspaces": [47123], "include_set_item_info":
      1, "include_metadata": 1}], "version": "1.1", "id": "037414331761849606"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/dynserv/5a838320de2b4884f11457a51a26870eadb175f6.SetAPI
  response:
    body:
      string: '{"version": "1.1", "result": [{"sets": []}], "id": "037414331761849606"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "Workspace.get_workspace_info", "params": [{"id": 47123, "workspace":
      null}], "version": "1.1", "id": "21540735851412784"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[47123,"wjriehl:narrative_1581384702051","wjriehl","2020-05-04T18:33:09+0000",9,"n","r","unlocked",{"static_narrative_ver":"30","searchtags":"narrative","is_temporary":"false","narrative":"1","cell_count":"9","narrative_nice_name":"Reports
        Test","static_narrative_saved":"1588617189159","static_narrative":"/47123/30/"}]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "Workspace.list_objects", "params": [{"includeMetadata": 1,
      "ids": [47123], "minObjectID": 1, "maxObjectID": 10000}], "version": "1.1",
      "id": "4860730920418074"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[[1,"Narrative.1581384702051","KBaseNarrative.Narrative-4.0","2020-02-18T20:31:39+0000",30,"wjriehl",47123,"wjriehl:narrative_1581384702051","5b8e7ddc0d94f9a85f9bbce600b39a25",40180,{"creator":"wjriehl","method.NarrativeTest/report_html_links/25496c5ebfdaec8045b5fd9049aeff5efd4a3834":"1","method.eapearsonUiTestModule/medium_report/298823e0057dcdc906bac2a943ecadfc93d30a91":"1","data_dependencies":"[]","job_info":"{\"queue_time\":
        0, \"run_time\": 0, \"running\": 0, \"completed\": 0, \"error\": 0}","format":"ipynb","description":"","type":"KBaseNarrative.Narrative","method.NarrativeTest/report_example/b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa":"1","method.eapearsonUiTestModule/large_report/298823e0057dcdc906bac2a943ecadfc93d30a91":"1","method.NarrativeTest/report_html_links/b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa":"3","is_temporary":"false","name":"Reports
        Test","method.NarrativeTest/report_html_links/84738351645e027a3b9d5adc9b8551c4c4c82c73":"1","ws_name":"wjriehl:narrative_1581384702051"}]]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "47123/4/1"}]}],
      "version": "1.1", "id": "956353867367985"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"direct_html":null,"direct_html_link_index":0,"file_links":[],"html_links":[{"URL":"https://ci.kbase.us/services/shock-api/node/306f8e4f-ddcb-4a83-adbd-5ab19f14ab81","description":"Report
        page 1","handle":"KBH_519779","label":"","name":"page1.html"}],"html_window_height":null,"objects_created":[],"summary_window_height":null,"text_message":"Here
        is an example report","warnings":[]},"info":[4,"NarrativeTest.example_report-c2deb2ed-a77a-4c47-bef3-66fff218ce04","KBaseReport.Report-3.0","2020-02-12T21:04:47+0000",1,"wjriehl",47123,"wjriehl:narrative_1581384702051","06b284325fff04a596f1002b4dfc0aaa",385,{"Size(characters)":"25","Objects
        Created":"0","Warnings":"0"}],"path":["47123/4/1"],"provenance":[{"time":"2020-02-12T21:03:58+0000","epoch":1581541438000,"service":"NarrativeTest","service_ver":"b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa","method":"report_html_links","method_params":[{"num_pages":1,"include_direct_html":0,"workspace_name":"wjriehl:narrative_1581384702051","initial_page":1}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"NarrativeTest","ver":"b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa","code_url":"https://github.com/briehl/narrative-test","commit":"b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa"},{"name":"KBaseReport","code_url":"https://github.com/kbaseapps/KBaseReport","commit":"0356e0313025b0d4b1b7fa11e96050aeaaaa828c"},{"name":"DataFileUtil","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"df0bb6568008983c1daf6966cf8cebf54f0a0d80"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"wjriehl","orig_wsid":47123,"created":"2020-02-12T21:04:46+0000","epoch":1581541486562,"refs":[],"copy_source_inaccessible":0,"extracted_ids":{"handle":["KBH_519779"]}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "47123/6/1"}]}],
      "version": "1.1", "id": "055629864697909315"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"direct_html":null,"direct_html_link_index":0,"file_links":[],"html_links":[{"URL":"https://ci.kbase.us/services/shock-api/node/742021ac-6e33-4cc8-b4f0-0d90960daf81","description":"Just
        an example report","handle":"KBH_519792","label":"","name":"index.html"}],"html_window_height":null,"objects_created":[],"summary_window_height":null,"text_message":"This
        is a report message","warnings":[]},"info":[6,"NarrativeTest.example_report2d7ef9d1-4e1f-4449-aa7a-8b7f6ba8d1ac","KBaseReport.Report-3.0","2020-02-12T21:10:13+0000",1,"wjriehl",47123,"wjriehl:narrative_1581384702051","2ebe47508f2d10413e8af0fbe13dfce4",393,{"Size(characters)":"24","Objects
        Created":"0","Warnings":"0"}],"path":["47123/6/1"],"provenance":[{"time":"2020-02-12T21:09:04+0000","epoch":1581541744000,"service":"NarrativeTest","service_ver":"b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa","method":"example_report","method_params":[{"text_input":"blah!","workspace_name":"wjriehl:narrative_1581384702051","checkbox_input":1}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"NarrativeTest","ver":"b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa","code_url":"https://github.com/briehl/narrative-test","commit":"b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa"},{"name":"DataFileUtil","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"df0bb6568008983c1daf6966cf8cebf54f0a0d80"},{"name":"KBaseReport","code_url":"https://github.com/kbaseapps/KBaseReport","commit":"0356e0313025b0d4b1b7fa11e96050aeaaaa828c"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"wjriehl","orig_wsid":47123,"created":"2020-02-12T21:10:11+0000","epoch":1581541811878,"refs":[],"copy_source_inaccessible":0,"extracted_ids":{"handle":["KBH_519792"]}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"method": "NarrativeMethodStore.get_method_full_info", "params": [{"ids":
      ["eapearsonUiTestModule/medium_report", "eapearsonUiTestModule/large_report",
      "NarrativeTest/report_html_links", "NarrativeTest/report_example"], "tag": "dev"}],
      "version": "1.1", "id": "7872627024556369"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/narrative_method_store/rpc
  response:
    body:
      string: '{"version":"1.1","result":[[{"id":"eapearsonUiTestModule/medium_report","module_name":"eapearsonUiTestModule","git_commit_hash":"298823e0057dcdc906bac2a943ecadfc93d30a91","name":"Medium
        Sized Report","ver":"0.0.1","authors":["eapearson"],"contact":"","subtitle":"Allows
        testing with variable run times","tooltip":"Allows testing with variable run
        times","description":"This method will pause for a given number of seconds
        before returning.\n\nThe purpose of this function is to provide a somewhat
        deterministic way to\ntest function execution from a test environment.","technical_description":"","app_type":"app","suggestions":{"related_methods":[],"next_methods":[],"related_apps":[],"next_apps":[]},"categories":["active","util"],"screenshots":[],"publications":[],"namespace":"eapearsonUiTestModule"},{"id":"eapearsonUiTestModule/large_report","module_name":"eapearsonUiTestModule","git_commit_hash":"298823e0057dcdc906bac2a943ecadfc93d30a91","name":"Large
        Sized Report","ver":"0.0.1","authors":["eapearson"],"contact":"","subtitle":"Allows
        testing with variable run times","tooltip":"Allows testing with variable run
        times","description":"This method will pause for a given number of seconds
        before returning.\n\nThe purpose of [...]
[...]
- request:
    body: '{"method": "Workspace.get_permissions", "params": [{"id": 47123}], "version":
      "1.1", "id": "6234164604480665"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"ialarmedalien":"n","*":"r"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
