interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "43666/1/21"}]}],
      "version": "1.1", "id": "47811175779774695"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"cells":[{"cell_type":"markdown","metadata":{"kbase":{"attributes":{"icon":"paragraph","title":"Welcome
        to KBase''s Narrative Interface!"},"cellState":{"selected":false,"showTitle":false}}},"source":"##
        Welcome to KBase''s Narrative Interface!\n\n**What''s a Narrative?** Narratives
        are shareable, reproducible workflows that can include data, analysis steps,
        results, visualizations and commentary. [Learn more...](http://kbase.us/narrative-guide)\n\n**Take
        the Tour:** Choose \"Narrative Tour\" from the \"Help\" menu above. The tour
        walks you through the user interface, pointing out various useful aspects
        of it.\n\n**Get Some Data:** Click the Add Data button in the Data Panel to
        search KBase data or upload your own. Hover over a data object to reveal a
        button for adding it to your Narrative. [Learn more...](http://kbase.us/narrative-guide/explore-data)\n\n**Analyze
        It:** Use the Apps panel or the App Catalog to browse available analysis apps.
        Select an app to add it to your Narrative, fill in the fields, and click the
        \"Run\" button to launch the app. [Learn more...](http://kbase.us/narrative-guide/browse-apps-and-methods)\n\n**Save
        and Share Your Narrative:** Be sure to save your Narrative frequently. To
        let collaborators view your analysis steps and results, click the Share button.
        Or make your Narrative public and help expand the social web that KBase is
        building to make systems biology research more open, reproducible and collaborative.
        [Learn more...](http://kbase.us/narrative-guide/share-narratives/)\n\n**Find
        Documentation:** For more information, please see the [Narrative Interface
        User Guide](http://kbase.us/narrative-guide) or the [tutorials](http://kbase.us/tutorials).\n\n**Questions?
        Bug reports?** [Contact us](http://kbase.us/contact-us)!\n\n> Ready to begin
        adding to your Narrative? You can keep this Welcome cell or delete it by selecting
        \"Delete cell\" from the \"...\" menu in the top right corner of this cell.\n"},{"cell_type":"code","execution_count":1,"metadata":{"kbase":{"appCell":{"app":{"gitCommitHash":"055c7eeda5f420f6d72b2fc8d542f7444a51ba84","id":"kb_quast/run_QUAST_app","spec":{"behavior":{"kb_service_input_mapping":[{"narrative_system_variable":"workspace","target_property":"workspace_name"},{"input_parameter":"assemblies","target_property":"assemblies","target_type_transform":"list<ref>"}],"kb_service_method":"run_QUAST_app","kb_service_name":"kb_quast","kb_service_output_mapping":[{"service_method_output_path":["0","report_name"],"target_property":"report_name"},{"service_method_output_path":["0","report_ref"],"target_property":"report_ref"},{"constant_value":"5","target_property":"report_window_line_height"},{"service_method_output_path":["0"],"target_property":"QUAST_result"},{"input_parameter":"assemblies","target_property":"input_assemblies"},{"narrative_system_variable":"workspace","target_property":"workspace_name"}],"kb_service_url":"","kb_service_version":"055c7eeda5f420f6d72b2fc8d542f7444a51ba84"},"fixed_parameters":[],"info":{"app_type":"app","authors":[],"categories":["assembly"],"git_commit_hash":"055c7eeda5f420f6d72b2fc8d542f7444a51ba84","icon":{"url":"img?method_id=kb_quast/run_QUAST_app&image_name=quast-blue_360.png&tag=release"},"id":"kb_quast/run_QUAST_app","input_types":["KBaseGenomeAnnotations.Assembly","KBaseGenomes.ContigSet"],"module_name":"kb_quast","name":"QUAST
        - Quality Assessment Tool for Genome Assemblies","namespace":"kb_quast","output_types":[],"subtitle":"Run
        QUAST on a set of assemblies to assess quality.","tooltip":"Run QUAST on a
        set of assemblies to assess quality.","ver":"0.0.3"},"job_id_output_field":"docker","parameters":[{"advanced":0,"allow_multiple":1,"default_values":[""],"description":"","disabled":0,"field_type":"text","id":"assemblies","optional":0,"short_hint":"Assembly
        objects to be analyzed by QUAST.","text_options":{"is_output_name":0,"placeholder":"","regex_constraint":[],"valid_ws_types":["KBaseGenomes.ContigSet","KBaseGenomeAnnotations.Assembly"]},"ui_class":"input","ui_name":"Assemblies"}],"widgets":{"input":"kbaseNarrativeMethodInput","output":"no-display"}},"tag":"release","version":"0.0.3"},"exec":{"jobState":{"canceled":0,"cell_id":"89d36e34-0b27-409d-9aeb-d7ec73467e44","child_jobs":[],"creation_time":1564507093765,"exec_start_time":1564507118799,"finish_time":1564507224903,"finished":1,"job_id":"5d407bccaa5a4d298c5dc87d","job_state":"completed","result":[{"report_name":"kb_quast_report_753191bb-e485-42f8-8e33-9a78b06b34c6","report_ref":"43666/3/1"}],"run_id":"f7557847-29a7-4af2-91a7-190fe6bd09a6","status":["2019-07-30T17:20:24+0000","complete","done",null,null,1,0],"sub_jobs":[],"ujs_url":"https://ci.kbase.us/services/userandjobstate/"},"jobStateUpdated":1564507223498,"launchState":{"cell_id":"89d36e34-0b27-409d-9aeb-d7ec73467e44","event":"launched_job","event_at":"2019-07-30T17:18:13.845787Z","job_id":"5d407bccaa5a4d298c5dc87d","run_id":"f7557847-29a7-4af2-91a7-190fe6bd09a6"},"outputWidgetInfo":{"name":"no-display","params":{"QUAST_result":{"report_name":"kb_quast_report_753191bb-e485-42f8-8e33-9a78b06b34c6","report_ref":"43666/3/1"},"input_assemblies":["2/8"],"report_name":"kb_quast_report_753191bb-e485-42f8-8e33-9a78b06b34c6","report_ref":"43666/3/1","report_window_line_height":"5","workspace_name":"wjriehl:narrative_1564507007662"},"tag":"release"}},"fsm":{"currentState":{"mode":"success"}},"output":{"byJob":{"5d407bccaa5a4d298c5dc87d":{"cell":{"created":false},"createdAt":"Tue,
        30 Jul 2019 17:20:23 GMT","params":{"assemblies":["43666/2/8"]}}}},"params":{"assemblies":["43666/2/8"]},"user-settings":{"showCodeInputArea":false}},"attributes":{"created":"Tue,
        30 Jul 2019 17:17:15 GMT","id":"89d36e34-0b27-409d-9aeb-d7ec73467e44","info":{"label":"more...","url":"/#appcatalog/app/kb_quast/run_QUAST_app/release"},"lastLoaded":"Wed,
        06 Nov 2019 18:12:08 GMT","status":"new","subtitle":"Run QUAST on a set of
        assemblies to assess quality.","title":"QUAST - Quality Assessment Tool for
        Genome Assemblies"},"type":"app"}},"outputs":[],"source":"from biokbase.narrative.jobs.appmanager
        import AppManager\nAppManager().run_app(\n    \"kb_quast/run_QUAST_app\",\n    {\n        \"assemblies\":
        [\"43666/2/8\"]\n    },\n    tag=\"release\",\n    version=\"0.0.3\",\n    cell_id=\"89d36e34-0b27-409d-9aeb-d7ec73467e44\",\n    run_id=\"f7557847-29a7-4af2-91a7-190fe6bd09a6\"\n)"},{"cell_type":"code","execution_count":6,"metadata":{"kbase":{"appCell":{"app":{"gitCommitHash":"d60865d5f12e71f3491c23c298670fd1ef24c252","id"[...]
- request:
    body: '{"method": "ServiceWizard.get_service_status", "params": [{"module_name":
      "SetAPI", "version": "release"}], "version": "1.1", "id": "8726773612568792"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/service_wizard
  response:
    body:
      string: '{"version": "1.1", "result": [{"git_commit_hash": "5a838320de2b4884f11457a51a26870eadb175f6",
        "status": "active", "version": "0.3.5", "hash": "5a838320de2b4884f11457a51a26870eadb175f6",
        "release_tags": ["release", "beta"], "url": "https://ci.kbase.us:443/dynserv/5a838320de2b4884f11457a51a26870eadb175f6.SetAPI",
        "module_name": "SetAPI", "health": "healthy", "up": 1}], "id": "8726773612568792"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "SetAPI.list_sets", "params": [{"workspaces": [43666], "include_set_item_info":
      1, "include_metadata": 1}], "version": "1.1", "id": "7572487104724296"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/dynserv/5a838320de2b4884f11457a51a26870eadb175f6.SetAPI
  response:
    body:
      string: '{"version": "1.1", "result": [{"sets": []}], "id": "7572487104724296"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "Workspace.get_workspace_info", "params": [{"id": 43666, "workspace":
      null}], "version": "1.1", "id": "5515291040833414"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[43666,"wjriehl:narrative_1564507007662","wjriehl","2020-01-24T18:48:28+0000",7,"n","r","unlocked",{"static_narrative_ver":"22","searchtags":"narrative","is_temporary":"false","narrative":"1","cell_count":"10","narrative_nice_name":"Test
        Exporting","static_narrative_saved":"1579891708594","static_narrative":"/43666/22"}]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "Workspace.list_objects", "params": [{"includeMetadata": 1,
      "ids": [43666], "minObjectID": 1, "maxObjectID": 10000}], "version": "1.1",
      "id": "9670355713162503"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[[1,"Narrative.1564507007662","KBaseNarrative.Narrative-4.0","2020-01-24T17:30:39+0000",22,"wjriehl",43666,"wjriehl:narrative_1564507007662","74bec066485ce99b7c61d09e78432745",33901,{"creator":"wjriehl","data_dependencies":"[]","jupyter.markdown":"2","method.kb_quast/run_QUAST_app/055c7eeda5f420f6d72b2fc8d542f7444a51ba84":"1","job_info":"{\"queue_time\":
        0, \"run_time\": 0, \"running\": 0, \"completed\": 0, \"error\": 0}","method.fba_tools/edit_media/f6f8088e846831fc94a0b0806d7a769dfaccf836":"1","format":"ipynb","description":"","type":"KBaseNarrative.Narrative","method.ProkkaAnnotation/annotate_contigs/d60865d5f12e71f3491c23c298670fd1ef24c252":"1","is_temporary":"false","name":"Test
        Exporting","ws_name":"wjriehl:narrative_1564507007662"}],[2,"Rhodobacter_CACIA_14H1_contigs","KBaseGenomes.ContigSet-2.0","2019-07-30T17:17:52+0000",8,"wjriehl",43666,"wjriehl:narrative_1564507007662","8b0b883f7134325a940cd07d0652881b",3925871,{}],[4,"bsub_annotation","KBaseGenomes.Genome-8.0","2019-08-20T18:40:24+0000",15,"wjriehl",43666,"wjriehl:narrative_1564507007662","c85809f93839d0316bd231b3d3ba658f",2684445,{"GC
        content":"0.5","Genetic code":"11","Close genomes":"30","Source ID":"bsub_annotation","Size":"4215606","Number
        features":"4553","Number contigs":"1","Domain":"B","Source":"KBase","Name":"B
        subtilis","MD5":"dbf77105f122414ce1969295209d0f14"}],[5,"MEGAHIT.contigs","KBaseGenomeAnnotations.Assembly-6.0","2019-08-20T18:57:39+0000",6,"wjriehl",43666,"wjriehl:narrative_1564507007662","6e19aa8d984f416271456820cc64f614",52149,{"GC
        content":"0.66636","Size":"3837282","N Contigs":"295","MD5":"bb342ff10217f9e5348a67148bb0c5f6"}],[6,"some_genome","KBaseGenomes.Genome-15.1","2019-08-20T19:02:48+0000",1,"wjriehl",43666,"wjriehl:narrative_1564507007662","fa92aabaf8a57d22761799421aeddfa2",14353585,{"Taxonomy":"Unconfirmed
        Organism: something","Size":"3837282","Source":"PROKKA annotation pipeline","Name":"something","GC
        content":"0.66636","Genetic code":"0","Type":"Unknown","Number of Genome Level
        Warnings":"4","Number of Protein Encoding Genes":"3895","Assembly Object":"43666/5/6","Number
        contigs":"295","Domain":"Bacteria","Number of CDS":"3895","MD5":"bb342ff10217f9e5348a67148bb0c5f6"}]]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "43666/3/1"}]}],
      "version": "1.1", "id": "8677461976289332"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"direct_html":null,"direct_html_link_index":0,"file_links":[],"html_links":[{"URL":"https://ci.kbase.us/services/shock-api/node/6f4e2100-4ef2-4182-b4de-6ae5feb88067","description":null,"handle":"KBH_476885","label":"QUAST
        report","name":"report.html"}],"html_window_height":null,"objects_created":[],"summary_window_height":null,"text_message":"All
        statistics are based on contigs of size >= 500 bp, unless otherwise noted
        (e.g., \"# contigs (>= 0 bp)\" and \"Total length (>= 0 bp)\" include all
        contigs).\n\nAssembly                        Rhodobacter_CACIA_14H1_contigs\n#
        contigs (>= 0 bp)             304                           \n# contigs (>=
        1000 bp)          290                           \n# contigs (>= 10000 bp)         147                           \n#
        contigs (>= 100000 bp)      [...]
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "43666/7/1"}]}],
      "version": "1.1", "id": "18069335117257124"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"direct_html":null,"direct_html_link_index":null,"file_links":[],"html_links":[],"html_window_height":null,"objects_created":[{"description":"Annotated
        genome","ref":"43666/6/1"}],"summary_window_height":null,"text_message":"Genome
        saved to: wjriehl:narrative_1564507007662/some_genome\nNumber of genes predicted:
        3895\nNumber of protein coding genes: 3895\nNumber of genes with non-hypothetical
        function: 2411\nNumber of genes with EC-number: 1413\nNumber of genes with
        Seed Subsystem Ontology: 1081\nAverage protein length: 864 aa.\n","warnings":[]},"info":[7,"kb_prokka_report_eace2678-2f8d-45d0-a332-a9a2baeeb2bc","KBaseReport.Report-3.0","2019-08-20T19:03:24+0000",1,"wjriehl",43666,"wjriehl:narrative_1564507007662","db6bc68860feb197c29719202445e81b",552,{"Size(characters)":"303","Objects
        Created":"1","Warnings":"0"}],"path":["43666/7/1"],"provenance":[{"time":"2019-08-20T18:58:29+0000","epoch":1566327509000,"service":"ProkkaAnnotation","service_ver":"d60865d5f12e71f3491c23c298670fd1ef24c252","method":"annotate","method_params":[{"mincontiglen":1,"object_ref":"wjriehl:narrative_1564507007662/MEGAHIT.contigs","scientific_name":"something","evalue":null,"output_genome_name":"some_genome","kingdom":"Bacteria","gcode":null,"norrna":0,"metagenome":0,"fast":0,"output_workspace":"wjriehl:narrative_1564507007662","notrna":0,"rfam":0,"genus":null,"rawproduct":0}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"ProkkaAnnotation","ver":"d60865d5f12e71f3491c23c298670fd1ef24c252","code_url":"https://github.com/kbaseapps/ProkkaAnnotation","commit":"d60865d5f12e71f3491c23c298670fd1ef24c252"},{"name":"AssemblyUtil","code_url":"https://github.com/kbaseapps/AssemblyUtil","commit":"afd3f360f4fb30143bca41cf58c1977d8ab45e8b"},{"name":"DataFileUtil","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"7f5646bc29b5cb35d32c86f3acdf7b18a0f6d53f"},{"name":"GenomeFileUtil","code_url":"https://github.com/kbaseapps/GenomeFileUtil","commit":"04d6c8b75849fdd59b49970a07e6f715af4d7647"},{"name":"WsLargeDataIO","code_url":"https://github.com/kbaseapps/WsLargeDataIO","commit":"8d76a294f3877be83cce9b51daebe541acc107d3"},{"name":"KBaseReport","code_url":"https://github.com/kbaseapps/KBaseReport","commit":"0356e0313025b0d4b1b7fa11e96050aeaaaa828c"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"wjriehl","orig_wsid":43666,"created":"2019-08-20T19:03:24+0000","epoch":1566327804145,"refs":["43666/6/1"],"copy_source_inaccessible":0,"extracted_ids":{}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "NarrativeMethodStore.get_method_full_info", "params": [{"ids":
      ["ProkkaAnnotation/annotate_contigs", "kb_quast/run_QUAST_app", "fba_tools/edit_media"],
      "tag": "release"}], "version": "1.1", "id": "6183753256693447"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/narrative_method_store/rpc
  response:
    body:
      string: '{"version":"1.1","result":[[{"id":"ProkkaAnnotation/annotate_contigs","module_name":"ProkkaAnnotation","git_commit_hash":"1967e07320b1898db0c6998bb4549b7f1187e5a8","name":"Annotate
        Assembly and Re-annotate Genomes with Prokka - v1.14.5","ver":"3.2.1","authors":["rsutormin","bsadkhin","slebras"],"contact":"https://www.kbase.us/support/","subtitle":"Annotate
        Assembly and Re-annotate Genomes with Prokka annotation pipeline.","tooltip":"Annotate
        Assembly and Re-annotate Genomes with Prokka annotation pipeline.","description":"<p>\nThis
        is a KBase wrapper for the\n<a href=\"http://www.bioinformatics.net.au/software.prokka.shtml\"
        target=\"_blank\">Prokka</a>\nannotation pipeline.\n</p>\n\n<p>\nProkka is
        a software tool for the rapid annotation of prokaryotic genomes. A typical
        4Mbp genome can be fully annotated in less than 20 minutes.\n</p>\n\n<p>\nFor
        rRNA prediction this app currently uses Barrnap (written by the author of
        Prokka and recommended if you prefer speed over absolute accuracy).\n</p>\n\n<p>\nSee
        more information at https://github.com/kbaseapps/ProkkaAnnotation/blob/master/README.rst\n</p>\n\n<p>Prokka
        version: 1.14.5</p>\n<p>Barrnap version: 0.8</p>","technical_description":"","app_type":"app","suggestions":{"related_methods":[],"next_methods":[],"related_apps":[],"next_apps":[]},"icon":{"url":"img?method_id=ProkkaAnnotation/annotate_contigs&image_name=prokka.png&tag=release"},"categories":["active","annotation"],"screenshots":[],"publications":[{"pmid":"24642063","display_text":"Seemann
        T. Prokka: rapid prokaryotic genome annotation. Bioinformatics. 2014;30: 2068
        2069. doi:10.1093/bioinformatics/btu153\n","link":"https://www.ncbi.nlm.nih.gov/pubmed/24642063"}],"namespace":"ProkkaAnnotation"},{"id":"kb_quast/run_QUAST_app","module_name":"kb_quast","git_commit_hash":"f6be7c27bbf44a0d65b0250dbdb8079b5df9d7ae","name":"Assess
        Quality of Assemblies with QUAST - v4.4","ver":"1.0.0","authors":["gaprice"],"contact":"http://kbase.us/contact-us/","subtitle":"Run
        QUAST (QUality ASsessment Tool) on a set of Assemblies to assess their quality.","tooltip":"Run
        QUAST (QUality ASsessment Tool) on[...]
[...]
- request:
    body: '{"method": "Workspace.get_permissions", "params": [{"id": 43666}], "version":
      "1.1", "id": "6168878682634806"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"ialarmedalien":"n","*":"r"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
