interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "47123/1/28"}]}],
      "version": "1.1", "id": "07439564086352435"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"cells":[{"cell_type":"code","execution_count":null,"metadata":{"kbase":{"attributes":{"created":"Tue,
        11 Feb 2020 01:31:55 GMT","icon":"code","id":"28fe3e2d-f089-4632-8e2b-f84be8d50412","lastLoaded":"Tue,
        11 Feb 2020 01:31:55 GMT","status":"new","title":"Code Cell"},"codeCell":{"userSettings":{"showCodeInputArea":true}},"type":"code"}},"outputs":[],"source":""},{"cell_type":"code","execution_count":1,"metadata":{"kbase":{"appCell":{"app":{"gitCommitHash":"25496c5ebfdaec8045b5fd9049aeff5efd4a3834","id":"NarrativeTest/report_html_links","spec":{"behavior":{"kb_service_input_mapping":[{"narrative_system_variable":"workspace","target_property":"workspace_name"},{"input_parameter":"num_pages","target_property":"num_pages"},{"input_parameter":"initial_page","target_property":"initial_page"},{"input_parameter":"include_direct","target_property":"include_direct_html"},{"input_parameter":"num_files","target_property":"num_files"}],"kb_service_method":"report_html_links","kb_service_name":"NarrativeTest","kb_service_output_mapping":[{"service_method_output_path":["0","report_name"],"target_property":"report_name"},{"service_method_output_path":["0","report_ref"],"target_property":"report_ref"},{"constant_value":"16","target_property":"report_window_line_height"}],"kb_service_url":"","kb_service_version":"25496c5ebfdaec8045b5fd9049aeff5efd4a3834"},"fixed_parameters":[],"info":{"app_type":"app","authors":["wjriehl"],"categories":[],"git_commit_hash":"25496c5ebfdaec8045b5fd9049aeff5efd4a3834","id":"NarrativeTest/report_html_links","input_types":[],"module_name":"NarrativeTest","name":"HTML
        Report with links","namespace":"NarrativeTest","output_types":[],"subtitle":"Show
        an example HTML Report","tooltip":"Show an example HTML Report","ver":"0.0.2"},"job_id_output_field":"docker","parameters":[{"advanced":0,"allow_multiple":0,"default_values":["1"],"description":"This
        is the number of pages that will be generated for the report.","disabled":0,"field_type":"text","id":"num_pages","optional":0,"short_hint":"Set
        the number of pages","text_options":{"is_output_name":0,"min_int":0,"placeholder":"","regex_constraint":[],"validate_as":"int"},"ui_class":"parameter","ui_name":"Number
        of Pages"},{"advanced":0,"allow_multiple":0,"default_values":["1"],"description":"This
        sets the first page to show in your multipage report.","disabled":0,"field_type":"text","id":"initial_page","optional":1,"short_hint":"The
        first page to show","text_options":{"is_output_name":0,"min_int":0,"placeholder":"","regex_constraint":[],"validate_as":"int"},"ui_class":"parameter","ui_name":"Initial
        Page"},{"advanced":0,"allow_multiple":0,"checkbox_options":{"checked_value":1,"unchecked_value":0},"default_values":[""],"description":"Using
        a direct_html entry and no pages should show the direct_html as the report.","disabled":0,"field_type":"checkbox","id":"include_direct","optional":1,"short_hint":"Select
        to include a \"direct_html\" entry","ui_class":"parameter","ui_name":"Use
        direct HTML"},{"advanced":0,"allow_multiple":0,"default_values":[""],"description":"If
        > 0, this makes a number of tiny downloadable files.","disabled":0,"field_type":"text","id":"num_files","optional":1,"short_hint":"How
        many files to make","text_options":{"is_output_name":0,"min_int":0,"placeholder":"","regex_constraint":[],"validate_as":"int"},"ui_class":"parameter","ui_name":"Number
        of files"}],"widgets":{"input":"null","output":"no-display"}},"tag":"dev","version":"0.0.2"},"exec":{"jobState":{"authstrat":"kbaseworkspace","cell_id":"e6f39431-0fbd-4f19-948c-ba4952bedd60","child_jobs":[],"created":1581632019000,"finished":1581632140241,"job_id":"5e45ca13aaeb5794eb0e24bb","job_input":{"app_id":"NarrativeTest/report_html_links","method":"NarrativeTest.report_html_links","narrative_cell_info":{"cell_id":"e6f39431-0fbd-4f19-948c-ba4952bedd60","run_id":"c2962417-e69a-4602-90dc-0326023dd0bb","tag":"dev","token_id":"ce15faac-5905-41cc-b79f-38d50c8516ff"},"params":[{"include_direct_html":0,"initial_page":1,"num_files":3,"num_pages":1,"workspace_name":"wjriehl:narrative_1581384702051"}],"parent_job_id":"None","requirements":{"clientgroup":"njs","cpu":4,"disk":30,"memory":2000},"service_ver":"25496c5ebfdaec8045b5fd9049aeff5efd4a3834","source_ws_objects":[],"wsid":47123},"job_output":{"id":"5e45ca13aaeb5794eb0e24bb","result":[{"report_name":"NarrativeTest.example_report-c8d65867-f05b-421b-9941-35a497e4ac3e","report_ref":"47123/9/1"}],"version":"1.1"},"queued":1581632020198,"run_id":"c2962417-e69a-4602-90dc-0326023dd0bb","running":1581632039475,"scheduler_id":"13640","scheduler_type":"condor","status":"completed","updated":1581632140241,"user":"wjriehl","wsid":47123},"jobStateUpdated":1581632149101,"launchState":{"cell_id":"e6f39431-0fbd-4f19-948c-ba4952bedd60","event":"launched_job","event_at":"2020-02-13T22:13:40.618108Z","job_id":"5e45ca13aaeb5794eb0e24bb","run_id":"c2962417-e69a-4602-90dc-0326023dd0bb"},"outputWidgetInfo":{"name":"no-display","params":{"report_name":"NarrativeTest.example_report-c8d65867-f05b-421b-9941-35a497e4ac3e","report_ref":"47123/9/1","report_window_line_height":"16"},"tag":"dev"}},"fsm":{"currentState":{"mode":"success"}},"output":{"byJob":{"5e45ca13aaeb5794eb0e24bb":{"cell":{"created":false},"createdAt":"Thu,
        13 Feb 2020 22:15:49 GMT","params":{"include_direct":0,"initial_page":1,"num_files":3,"num_pages":1}}}},"params":{"include_direct":0,"initial_page":1,"num_files":3,"num_pages":1},"user-settings":{"showCodeInputArea":false}},"attributes":{"created":"Thu,
        13 Feb 2020 22:13:28 GMT","id":"e6f39431-0fbd-4f19-948c-ba4952bedd60","info":{"label":"more...","url":"/#appcatalog/app/NarrativeTest/report_html_links/dev"},"lastLoaded":"Thu,
        13 Feb 2020 22:13:28 GMT","status":"new","subtitle":"Show an example HTML
        Report","title":"HTML Report with links"},"type":"app"}},"outputs":[],"source":"from
        biokbase.narrative.jobs.appmanager import AppManager\nAppManager().run_app(\n    \"NarrativeTest/report_html_links\",\n    {\n        \"num_pages\":
        1,\n        \"initial_page\": 1,\n        \"include_direct\": 0,\n        \"num_files[...]
- request:
    body: '{"method": "ServiceWizard.get_service_status", "params": [{"module_name":
      "SetAPI", "version": "release"}], "version": "1.1", "id": "8619383653896924"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/service_wizard
  response:
    body:
      string: '{"version": "1.1", "result": [{"git_commit_hash": "5a838320de2b4884f11457a51a26870eadb175f6",
        "status": "active", "version": "0.3.5", "hash": "5a838320de2b4884f11457a51a26870eadb175f6",
        "release_tags": ["release", "beta"], "url": "https://ci.kbase.us:443/dynserv/5a838320de2b4884f11457a51a26870eadb175f6.SetAPI",
        "module_name": "SetAPI", "health": "healthy", "up": 1}], "id": "8619383653896924"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "SetAPI.list_sets", "params": [{"workspaces": [47123], "include_set_item_info":
      1, "include_metadata": 1}], "version": "1.1", "id": "6964471290457648"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/dynserv/5a838320de2b4884f11457a51a26870eadb175f6.SetAPI
  response:
    body:
      string: '{"version": "1.1", "result": [{"sets": []}], "id": "6964471290457648"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "Workspace.get_workspace_info", "params": [{"id": 47123}], "version":
      "1.1", "id": "7037581721363657"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[47123,"wjriehl:narrative_1581384702051","wjriehl","2020-05-04T18:33:09+0000",9,"n","r","unlocked",{"static_narrative_ver":"30","searchtags":"narrative","is_temporary":"false","narrative":"1","cell_count":"9","narrative_nice_name":"Reports
        Test","static_narrative_saved":"1588617189159","static_narrative":"/47123/30/"}]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "Workspace.list_objects", "params": [{"includeMetadata": 1,
      "ids": [47123], "minObjectID": 1, "maxObjectID": 10000}], "version": "1.1",
      "id": "22667453726807718"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[[1,"Narrative.1581384702051","KBaseNarrative.Narrative-4.0","2020-02-18T20:31:39+0000",30,"wjriehl",47123,"wjriehl:narrative_1581384702051","5b8e7ddc0d94f9a85f9bbce600b39a25",40180,{"creator":"wjriehl","method.NarrativeTest/report_html_links/25496c5ebfdaec8045b5fd9049aeff5efd4a3834":"1","method.eapearsonUiTestModule/medium_report/298823e0057dcdc906bac2a943ecadfc93d30a91":"1","data_dependencies":"[]","job_info":"{\"queue_time\":
        0, \"run_time\": 0, \"running\": 0, \"completed\": 0, \"error\": 0}","format":"ipynb","description":"","type":"KBaseNarrative.Narrative","method.NarrativeTest/report_example/b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa":"1","method.eapearsonUiTestModule/large_report/298823e0057dcdc906bac2a943ecadfc93d30a91":"1","method.NarrativeTest/report_html_links/b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa":"3","is_temporary":"false","name":"Reports
        Test","method.NarrativeTest/report_html_links/84738351645e027a3b9d5adc9b8551c4c4c82c73":"1","ws_name":"wjriehl:narrative_1581384702051"}]]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "47123/9/1"}]}],
      "version": "1.1", "id": "6953142616252925"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"direct_html":null,"direct_html_link_index":0,"file_links":[{"URL":"https://ci.kbase.us/services/shock-api/node/ffbbc04f-e4e0-471e-b787-075f5c4cfcdc","description":"Simple
        test file 1","handle":"KBH_520025","label":"","name":"file_number_1.txt"},{"URL":"https://ci.kbase.us/services/shock-api/node/c857751e-b145-4ef8-aa5e-abf59891ccc0","description":"Simple
        test file 2","handle":"KBH_520026","label":"","name":"file_number_2.txt"},{"URL":"https://ci.kbase.us/services/shock-api/node/f5fcf3d0-22bf-4532-b157-c608ed6e44c1","description":"Simple
        test file 3","handle":"KBH_520027","label":"","name":"file_number_3.txt"}],"html_links":[{"URL":"https://ci.kbase.us/services/shock-api/node/8f7e8210-c378-48d5-8dd4-66de3c3a8054","description":"Report
        page 1","handle":"KBH_520028","label":"","name":"page1.html"}],"html_window_height":null,"objects_created":[],"summary_window_height":null,"text_message":"Here
        is an example report","warnings":[]},"info":[9,"NarrativeTest.example_report-c8d65867-f05b-421b-9941-35a497e4ac3e","KBaseReport.Report-3.0","2020-02-13T22:15:27+0000",1,"wjriehl",47123,"wjriehl:narrative_1581384702051","3ba827ccd91819b253dc96deffe620c3",942,{"Size(characters)":"25","Objects
        Created":"0","Warnings":"0"}],"path":["47123/9/1"],"provenance":[{"time":"2020-02-13T22:14:00+0000","epoch":1581632040000,"service":"NarrativeTest","service_ver":"25496c5ebfdaec8045b5fd9049aeff5efd4a3834","method":"report_html_links","method_params":[{"num_pages":1,"include_direct_html":0,"num_files":3,"workspace_name":"wjriehl:narrative_1581384702051","initial_page":1}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"NarrativeTest","ver":"25496c5ebfdaec8045b5fd9049aeff5efd4a3834","code_url":"https://github.com/briehl/narrative-test","commit":"25496c5ebfdaec8045b5fd9049aeff5efd4a3834"},{"name":"KBaseReport","code_url":"https://github.com/kbaseapps/KBaseReport","commit":"0356e0313025b0d4b1b7fa11e96050aeaaaa828c"},{"name":"DataFileUtil","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"df0bb6568008983c1daf6966cf8cebf54f0a0d80"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"wjriehl","orig_wsid":47123,"created":"2020-02-13T22:15:25+0000","epoch":1581632125898,"refs":[],"copy_source_inaccessible":0,"extracted_ids":{"handle":["KBH_520028","KBH_520027","KBH_520026","KBH_520025"]}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "47123/6/1"}]}],
      "version": "1.1", "id": "7578941172482827"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"direct_html":null,"direct_html_link_index":0,"file_links":[],"html_links":[{"URL":"https://ci.kbase.us/services/shock-api/node/742021ac-6e33-4cc8-b4f0-0d90960daf81","description":"Just
        an example report","handle":"KBH_519792","label":"","name":"index.html"}],"html_window_height":null,"objects_created":[],"summary_window_height":null,"text_message":"This
        is a report message","warnings":[]},"info":[6,"NarrativeTest.example_report2d7ef9d1-4e1f-4449-aa7a-8b7f6ba8d1ac","KBaseReport.Report-3.0","2020-02-12T21:10:13+0000",1,"wjriehl",47123,"wjriehl:narrative_1581384702051","2ebe47508f2d10413e8af0fbe13dfce4",393,{"Size(characters)":"24","Objects
        Created":"0","Warnings":"0"}],"path":["47123/6/1"],"provenance":[{"time":"2020-02-12T21:09:04+0000","epoch":1581541744000,"service":"NarrativeTest","service_ver":"b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa","method":"example_report","method_params":[{"text_input":"blah!","workspace_name":"wjriehl:narrative_1581384702051","checkbox_input":1}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"NarrativeTest","ver":"b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa","code_url":"https://github.com/briehl/narrative-test","commit":"b4c5dfc69ae106b3aa1d34b8bd21b6cb4e1c39aa"},{"name":"DataFileUtil","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"df0bb6568008983c1daf6966cf8cebf54f0a0d80"},{"name":"KBaseReport","code_url":"https://github.com/kbaseapps/KBaseReport","commit":"0356e0313025b0d4b1b7fa11e96050aeaaaa828c"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"wjriehl","orig_wsid":47123,"created":"2020-02-12T21:10:11+0000","epoch":1581541811878,"refs":[],"copy_source_inaccessible":0,"extracted_ids":{"handle":["KBH_519792"]}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"method": "NarrativeMethodStore.get_method_full_info", "params": [{"ids":
      ["eapearsonUiTestModule/large_report", "NarrativeTest/report_example", "eapearsonUiTestModule/medium_report",
      "NarrativeTest/report_html_links"], "tag": "dev"}], "version": "1.1", "id":
      "20342368597973848"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/narrative_method_store/rpc
  response:
    body:
      string: '{"version":"1.1","result":[[{"id":"eapearsonUiTestModule/large_report","module_name":"eapearsonUiTestModule","git_commit_hash":"298823e0057dcdc906bac2a943ecadfc93d30a91","name":"Large
        Sized Report","ver":"0.0.1","authors":["eapearson"],"contact":"","subtitle":"Allows
        testing with variable run times","tooltip":"Allows testing with variable run
        times","description":"This method will pause for a given number of seconds
        before returning.\n\nThe purpose of this function is to provide a somewhat
        deterministic way to\ntest function execution from a test environment.","technical_description":"","app_type":"app","suggestions":{"related_methods":[],"next_methods":[],"related_apps":[],"next_apps":[]},"categories":["active","util"],"screenshots":[],"publications":[],"namespace":"eapearsonUiTestModule"},{"id":"NarrativeTest/report_example","module_name":"NarrativeTest","git_commit_hash":"a17cce938a979c42022cb5e9d416604f87d8a69d","name":"Example
        HTML Report","ver":"0.0.6","authors":["wjriehl"],"contact":"help@kbase.us","subtitle":"Show
        an example HTML Report","tooltip":"Show an example HTML Report","description":"<p>Demonstrate
        a KBase HTML Report using some simple inputs.</p>","technical_description":"none","app_type":"app","sugges[...]
[...]
- request:
    body: '{"method": "Workspace.get_permissions", "params": [{"id": 47123}], "version":
      "1.1", "id": "9718068326742452"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"ialarmedalien":"n","*":"r"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
