interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "25022/1/114"}]}],
      "version": "1.1", "id": "7787655839939555"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"cells":[{"cell_type":"code","execution_count":1,"metadata":{"kbase":{"attributes":{"created":"Mon,
        19 Mar 2018 20:39:10 GMT","icon":"database","id":"c25cdcc9-9944-44e2-a7db-d271a0ba3cff","lastLoaded":"Tue,
        14 Jan 2020 18:13:15 GMT","status":"new","subtitle":"v2 - KBaseFBA.FBAModel-13.0","title":"rhodoModel"},"cellState":{"toggleMinMax":"minimized"},"dataCell":{"objectInfo":{"checksum":"3cbcac6de065ee04a941f3c0f86366aa","id":14,"metadata":{"Genome":"2968/4/1","Name":"Rhodobacter
        CACIA 14H1","Number biomasses":"1","Number compartments":"2","Number compounds":"1048","Number
        gapfills":"0","Number gapgens":"0","Number reactions":"1002","Source":"KBase","Source
        ID":"kb|g.220339.fbamdl","Type":"GenomeScale"},"name":"rhodoModel","obj_id":"ws.25022.obj.14","ref":"25022/14/2","ref_path":null,"saveDate":"2018-01-26T15:29:14.000Z","save_date":"2018-01-26T15:29:14+0000","saved_by":"wjriehl","size":1267550,"type":"KBaseFBA.FBAModel-13.0","typeMajorVersion":"13","typeMinorVersion":"0","typeModule":"KBaseFBA","typeName":"FBAModel","version":2,"ws":"wjriehl:narrative_1502225097649","ws_id":25022,"wsid":25022},"user-settings":{"showCodeInputArea":false}},"type":"data"}},"outputs":[{"data":{"application/javascript":"\n        element.html(\"<div
        id=''kb-vis-688e8f04-e200-4d24-8e3f-5fe018ac753d'' class=''kb-vis-area''></div>\");\n\n        require([''kbaseNarrativeOutputCell''],
        function(KBaseNarrativeOutputCell) {\n            var w = new KBaseNarrativeOutputCell($(''#kb-vis-688e8f04-e200-4d24-8e3f-5fe018ac753d''),
        {\n                \"data\": {\"output\": {\"obj\": \"rhodoModel\", \"type\":
        \"KBaseFBA.FBAModel\", \"ws\": \"wjriehl:narrative_1502225097649\"}, \"type_spec\":
        {\"import_method_ids\": [\"fba_tools/import_fbamodel_tsv_file\", \"fba_tools/import_fbamodel_sbml_file\",
        \"fba_tools/import_fbamodel_excel_file\"], \"subtitle\": \"FBA model object\",
        \"name\": \"FBA model\", \"export_functions\": {\"TSV\": \"fba_tools/export_model_as_tsv_file\",
        \"EXCEL\": \"fba_tools/export_model_as_excel_file\", \"SBML\": \"fba_tools/export_model_as_sbml_file\"},
        \"view_method_ids\": [\"NarrativeViewers/view_metabolic_model_details\"],
        \"description\": \"<p>This type describes FBA model.</p>\\n\", \"type_name\":
        \"KBaseFBA.FBAModel\", \"tooltip\": \"FBA model object\", \"landing_page_url_prefix\":
        \"ws/models\", \"icon\": {\"url\": \"img?type_name=KBaseFBA.FBAModel&image_name=none\"}},
        \"info_tuple\": [14, \"rhodoModel\", \"KBaseFBA.FBAModel-13.0\", \"2018-01-26T15:29:14+0000\",
        2, \"wjriehl\", 25022, \"wjriehl:narrative_1502225097649\", \"3cbcac6de065ee04a941f3c0f86366aa\",
        1267550, {\"Number gapfills\": \"0\", \"Name\": \"Rhodobacter CACIA 14H1\",
        \"Number compounds\": \"1048\", \"Number gapgens\": \"0\", \"Number biomasses\":
        \"1\", \"Source\": \"KBase\", \"Number reactions\": \"1002\", \"Genome\":
        \"2968/4/1\", \"Type\": \"GenomeScale\", \"Number compartments\": \"2\", \"Source
        ID\": \"kb|g.220339.fbamdl\"}], \"app_spec\": {\"info\": {\"ver\": \"1.0.2\",
        \"name\": \"View Metabolic Model Details\", \"subtitle\": \"Bring up a detailed
        view of a metabolic model within the narrative.\", \"output_types\": [], \"app_type\":
        \"viewer\", \"namespace\": \"NarrativeViewers\", \"tooltip\": \"Bring up a
        detailed view of a metabolic model within the narrative.\", \"git_commit_hash\":
        \"16e96d7a6832ce65e1658563c492b355904dac6f\", \"input_types\": [\"KBaseFBA.FBAModel\"],
        \"authors\": [], \"module_name\": \"NarrativeViewers\", \"id\": \"NarrativeViewers/view_metabolic_model_details\",
        \"categories\": [\"inactive\"]}, \"widgets\": {\"input\": \"null\", \"output\":
        \"kbaseTabTable\"}, \"fixed_parameters\": [], \"parameters\": [{\"field_type\":
        \"text\", \"ui_class\": \"input\", \"allow_multiple\": 0, \"description\":
        \"the metabolic model to view\", \"text_options\": {\"is_output_name\": 0,
        \"placeholder\": \"\", \"regex_constraint\": [], \"valid_ws_types\": [\"KBaseFBA.FBAModel\"]},
        \"disabled\": 0, \"short_hint\": \"the metabolic model to view\", \"default_values\":
        [\"\"], \"ui_name\": \"Metabolic Model\", \"optional\": 0, \"id\": \"param0\",
        \"advanced\": 0}], \"behavior\": {\"output_mapping\": [{\"target_property\":
        \"type\", \"constant_value\": \"KBaseFBA.FBAModel\"}, {\"target_property\":
        \"obj\", \"input_parameter\": \"param0\"}, {\"target_property\": \"ws\", \"narrative_system_variable\":
        \"workspace\"}]}}},\n                \"type\":\"viewer\",\n                \"widget\":\"kbaseNarrativeDataCell\",\n                \"cellId\":\"c25cdcc9-9944-44e2-a7db-d271a0ba3cff\",\n                \"title\":\"rhodoModel\",\n                \"time\":1521491958484\n            });\n        });\n        ","text/plain":"<IPython.core.display.Javascript
        object>"},"execution_count":1,"metadata":{},"output_type":"execute_result"}],"source":"from
        biokbase.narrative.widgetmanager import WidgetManager\nWidgetManager().show_data_widget(\n    \"25022/14/2\",\n    cell_id=\"c25cdcc9-9944-44e2-a7db-d271a0ba3cff\",\n    title=\"rhodoModel\",\n    tag=\"release\"\n)"},{"cell_type":"code","execution_count":14,"metadata":{"kbase":{"appCell":{"app":{"gitCommitHash":"ce273c5ba9f7aae461a78a861be3e0949095f2c6","id":"NarrativeTest/test_input_params","spec":{"behavior":{"kb_service_input_mapping":[{"narrative_system_variable":"workspace","target_property":"workspace"},{"input_parameter":"actual_input_object","target_property":"input_genome_name"},{"input_parameter":"actual_output_object","target_property":"output_genome_name"}],"kb_service_method":"test_async_job","kb_service_name":"NarrativeTest","kb_service_output_mapping":[{"service_method_output_path":["0","report_name"],"target_property":"report_name"},{"service_method_output_path":["0","report_ref"],"target_property":"report_ref"},{"constant_value":"16","target_property":"report_window_line_height"},{"service_method_output_path":["0"],"target_property":"contig_filter_result"},{"input_parameter":"actual_output_object","target_property":"id"},{"narrative_system_variable":"workspace","target_property":"ws"}],"kb_service_url":"","kb_service_version":"ce273c5ba9f7aae461a78a861be3e0949095f2c6"},"fixed_parameters":[],"info":{"app_type":"app","authors":["wjriehl"],"categories":["active"],"git_commit_hash":"ce273c5ba9f7aae461a78a861be3e0949095f2c6","id":"NarrativeTest/test_input_params","input_types":["KBaseFBA.FBAModel","KBaseGenomes.Genome"],"module_name":"NarrativeTest","name":"Test
        Input Parameters","namespace":"NarrativeTest","output_types":["KBaseGenomes.Genome"],"subtitle":"Used
        for testing that input parameters are properly validated.","tooltip":"Used
        for testing that input parameters are properly validated.","ver":"0.0.2"},"job_id_output_field":"docker","parameters":[{"advanced":0,"allow_multiple":0,"default_values":[""],"description":"","disabled":0,"field_type":"text","id":"actual_input_object","optional":0,"short_hint":"Should
        be a genome (KBaseGenomes.Genome)","text_options":{"is_output_name":0,"placeholder":"","regex_constraint":[],"valid_ws_types":["KBaseGenomes.Genome"]},"ui_class":"input","ui_name":"Genome
        to be duplicated"},{"advanced":0,"allow_multiple":0,"default_values":[""],"description":"","disabled":0,"field_type":"text","id":"actual_output_object","optional":0,"short_hint":"The
        name of the new Genome object that gets created (a KBaseGenomes.Genome)","text_options":{"is_output_name":1,"placeholder":"","regex_constraint":[],"valid_ws_types":["KBaseGenomes.Genome"]},"ui_class":"output","ui_name":"Name
        of new Genome"},{"advanced":0,"allow_multiple":0,"default_values":[""],"description":"","disabled":0,"field_type":"text","id":"single_int","optional":1,"short_hint":"Only
        accept a single integer between [-100, 100]","text_options":{"is_output_name":0,"max_int":100,"min_int":-100,"placeholder":"","regex_constraint":[],"validate_as":"int"},"ui_class":"parameter","ui_name":"Single
        integer"},{"advanced":0,"allow_multiple":1,"default_values":[""],"description":"","disabled":0,"field_type":"text","id":"list_of_ints","optional":1,"short_hint":"Accept
        multiple integers between [-100, 100]","text_options":{"is_output_name":0,"max_int":100,"min_int":-100,"placeholder":"","regex_constraint":[],"validate_as":"int"},"ui_class":"parameter","ui_name":"Multiple
        integers"},{"advanced":0,"allow_multiple":0,"default_values":[""],"description":"","disabled":0,"field_type":"text","id":"single_float","optional":1,"short_hint":"Only
        accept a single float between [-55.5, 55.5]","text_options":{"is_output_name":0,"max_float":55.5,"min_float":-55.5,"placeholder":"","regex_constraint":[],"validate_as":"float"},"ui_class":"parameter","ui_name":"Single
        floating point number"},{"advanced":0,"allow_multiple":1,"default_values":[""],"description":"","disabled":0,"field_type":"text","id":"list_of_floats","optional":1,"short_hint":"Accept
        multiple floating point numbers between [-55.5, 55.5]","text_options":{"is_output_name":0,"max_float":55.5,"min_float":-55.5,"placeholder":"","regex_constraint":[],"validate_as":"float"},"ui[...]
- request:
    body: '{"method": "ServiceWizard.get_service_status", "params": [{"module_name":
      "SetAPI", "version": "release"}], "version": "1.1", "id": "6854889392225314"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/service_wizard
  response:
    body:
      string: '{"version": "1.1", "result": [{"git_commit_hash": "5a838320de2b4884f11457a51a26870eadb175f6",
        "status": "active", "version": "0.3.5", "hash": "5a838320de2b4884f11457a51a26870eadb175f6",
        "release_tags": ["release", "beta"], "url": "https://ci.kbase.us:443/dynserv/5a838320de2b4884f11457a51a26870eadb175f6.SetAPI",
        "module_name": "SetAPI", "health": "healthy", "up": 1}], "id": "6854889392225314"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "SetAPI.list_sets", "params": [{"workspaces": [25022], "include_set_item_info":
      1, "include_metadata": 1}], "version": "1.1", "id": "06688231472256856"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/dynserv/5a838320de2b4884f11457a51a26870eadb175f6.SetAPI
  response:
    body:
      string: '{"version": "1.1", "result": [{"sets": []}], "id": "06688231472256856"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "Workspace.get_workspace_info", "params": [{"id": 25022}], "version":
      "1.1", "id": "003724246023348643"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[25022,"wjriehl:narrative_1502225097649","wjriehl","2020-04-20T23:13:21+0000",40,"n","r","unlocked",{"static_narrative_ver":"116","searchtags":"narrative","is_temporary":"false","narrative":"1","data_palette_id":"21","narrative_nice_name":"Scratch","cell_count":"74","static_narrative_saved":"1582157370105","static_narrative":"/25022/116/"}]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "Workspace.list_objects", "params": [{"includeMetadata": 1,
      "ids": [25022], "minObjectID": 1, "maxObjectID": 10000}], "version": "1.1",
      "id": "7496579753507666"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[[1,"Narrative.1502225097649","KBaseNarrative.Narrative-4.0","2020-02-05T00:11:56+0000",116,"wjriehl",25022,"wjriehl:narrative_1502225097649","a6d1f67e7d348fe1aa9b16485eb811fa",312203,{"method.kb_uploadmethods/import_fastq_sra_as_reads_from_staging/4c0579bec5aa606f5e42cf29d920872d34ea5b52":"1","job_info":"{\"queue_time\":
        0, \"run_time\": 0, \"running\": 0, \"completed\": 0, \"error\": 0}","method.fba_tools/edit_media/f6f8088e846831fc94a0b0806d7a769dfaccf836":"2","description":"","type":"KBaseNarrative.Narrative","method.kb_Msuite/run_checkM_lineage_wf/4b0c3c462f1ccf0dcc30330e99fa2173d7907c7a":"2","method.NarrativeTest/test_input_widget/ce273c5ba9f7aae461a78a861be3e0949095f2c6":"1","is_temporary":"false","method.kb_uploadmethods/import_fasta_as_assembly_from_staging/376efd14d584f6642a5ceeea33d3acd2d3c78b20":"1","method.kb_uploadmethods/import_fasta_as_assembly_from_staging/cac123b09271d200e018fbef52286b98e56daf42":"1","method.kb_uploadmethods/import_gff_fasta_as_metagenome_from_staging/eaacbb349d721977a6c667031f37c5a60f3528c5":"1","method.kb_trimmomatic/run_trimmomatic/09b94c39b2fab79962a8d978aa15a424342defe4":"1","method.NarrativeTest/report_example/4fa11388bfaea2d912e62ffc24220f60c8acdda3":"1","method.NarrativeTest/test_input_params/ce273c5ba9f7aae461a78a861be3e0949095f2c6":"2","creator":"wjriehl","method.kb_SPAdes/run_metaSPAdes/e0a0f9df50bb6765db40f6949b18c7a016610801":"1","data_dependencies":"[]","format":"ipynb","method.NarrativeTest/introspect_job/daaf0bd2a797f60c85dfbfe3a0b4e7568037e763":"1","method.RAST_SDK/reannotate_microbial_genome/50b012d9b41b71ba31b30355627cf85f2611bc3e":"1","name":"Scratch","method.NarrativeTest/report_example/be11b8565ec27d8d1df75b3f26862dbf4a738e5b":"1","method.NarrativeTest/report_example/b45261584ab5c5bd6c6efc0d9abf123377467a8f":"1","method.kb_uploadmethods/import_fastq_sra_as_reads_from_staging/cac123b09271d200e018fbef52286b98e56daf42":"2","ws_name":"wjriehl:narrative_1502225097649"}],[3,"small.forward.fq_reads","KBaseFile.SingleEndLibrary-2.2","2018-01-18T22:26:25+0000",1,"wjriehl",25022,"wjriehl:narrative_1502225097649","416864468c635a029a1a42c2fab65084",628,{"qual_min":"10.0","qual_mean":"44.7367","sequencing_tech":"Illumina","number_of_duplicates":"4","read_length_mean":"100.0","qual_stdev":"9.0087","read_length_stdev":"0.0","qual_max":"51.0","total_bases":"125000","single_genome":"1","gc_content":"0.6798169999999999","phred_type":"33","read_count":"1250"}],[5,"small.forward.fq_reads2","KBaseFile.SingleEndLibrary-2.2","2018-01-18T22:39:42+0000",1,"wjriehl",25022,"wjriehl:narrative_1502225097649","9a14a2b5addd690d41f79169e9b354d9",628,{"qual_min":"10.0","qual_mean":"44.7367","sequencing_tech":"Illumina","number_of_duplicates":"4","read_length_mean":"100.0","qual_stdev":"9.0087","read_length_stdev":"0.0","qual_max":"51.0","total_bases":"125000","single_genome":"1","gc_content":"0.6798169999999999","phred_type":"33","read_count":"1250"}],[7,"Desulfovibrio_vulgaris_Hildenborough_C1.fasta_assembly","KBaseGenomeAnnotations.Assembly-6.0","2018-01-19T00:30:50+0000",2,"wjriehl",25022,"wjriehl:narrative_1502225097649","62ef23323e3e4d1db3bbb6ae2ff8bd1d",853,{"GC
        content":"0.63143","Size":"3570858","N Contigs":"1","MD5":"12b876ac629bbf83dad31c321df32393"}],[14,"-123.45-","KBaseFBA.FBAModel-13.0","2018-01-26T15:29:14+0000",2,"wjriehl",25022,"wjriehl:narrative_1502225097649","3cbcac6de065ee04a941f3c0f86366aa",1267550,{"Type":"GenomeScale","Number
        gapgens":"0","Number gapfills":"0","Source ID":"kb|g.220339.fbamdl","Number
        biomasses":"1","Number compartments":"2","Genome":"2968/4/1","Source":"KBase","Name":"Rhodobacter
        CACIA 14H1","Number compounds":"1048","Number reactions":"1002"}],[15,"Sbicolor.JGI-v2.1","KBaseGenomes.Genome-8.0","2019-04-22T17:28:24+0000",9,"wjriehl",25022,"wjriehl:narrative_1502225097649","568659960eba4cd449cdb644798ebc60",39145804,{"Taxonomy":"Eukaryota;
        Viridiplantae; Streptophyta; Streptophytina; Embryophyta; Tracheophyta; Euphyllophyta;
        Spermatophyta; Magnoliophyta; Mesangiospermae; Liliopsida; Petrosaviidae;
        commelinids; Poales; Poaceae; PACMAD clade; Panicoideae; Andropogoneae; Sorghum;
        Sorghum bicolor","Size":"726616606","Source":"Phytozome","Name":"Sorghum bicolor","GC
        content":"41.6771896622467","Genetic code":"1","Close genomes":"0","Source
        ID":"Sbicolor.JGI-v2.1","Number features":"39441","Number contigs":"1610","Domain":"Plant","MD5":"35cecccd999e0045d9f2091205de9899"}],[16,"SomeFakeData","KBaseFeatureValues.ExpressionMatrix-1.0","2018-10-24T23:38:58+0000",1,"wjriehl",25022,"wjriehl:narrative_1502225097649","471a0f8092a38820c5fef2962ef69c4f",654238,{"scale":"1.0","feature_count":"4297","condition_count":"16","type":"log-ratio","Genome":"899/6/2"}],[17,"small.forward.fq_reads2_trimmed","KBaseFile.SingleEndLibrary-2.2","2018-12-10T18:41:10+0000",1,"wjriehl",25022,"wjriehl:narrative_1502225097649","b04ea5f807c7f71fb29b285c5435d9c7",675,{"qual_min":"10.0","qual_mean":"44.7367","sequencing_tech":"Illumina","number_of_duplicates":"4","read_length_mean":"99.4112","qual_stdev":"9.0087","read_length_stdev":"3.276","qual_max":"51.0","total_bases":"124264","single_genome":"1","gc_content":"0.6798169999999999","phred_type":"33","read_count":"1250"}],[22,"_Echinacea_purpurea__witches_-broom_phytoplasma","KBaseGenomes.Genome-14.2","2019-06-12T20:48:34+0000",1,"wjriehl",25022,"wjriehl:narrative_1502225097649","8dbc93f33815ddf74cb53ea0e2d25acd",1596724,{"Taxonomy":"cellular
        organisms; Bacteria; Terrabacteria group; Tenericutes; Mollicutes; Acholeplasmatales;
        Acholeplasmataceae; Candidatus Phytoplasma; 16SrII (Peanut WB group)","Size":"545427","accession":"GCF_001307505.1","version":"1","url":"ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/001/307/505/GCF_001307505.1_ASM130750v1/GCF_001307505.1_ASM130750v1_genomic.gbff.gz","refname":"GCF_001307505.1","Source":"RefSeq","Name":"''Echinacea
        purpurea'' witches''-broom phytoplasma","GC content":"0.23888","Genetic code":"11","Suspect
        Genome":"1","Number of Genome Level Warnings":"1","Source ID":"NZ_LKAC01000001","Number
        of Protein Encoding Genes":"460","assembly_level":"Contig","Number contigs":"28","refid":"GCF_001307505","Domain":"Bacteria","Number
        of CDS":"460","MD5":"257134b447c06ce07e966605f892ef11"}],[23,"3702_Phytozome_TAIR10","KBaseGenomeAnnotations.GenomeAnnotation-3.1","2019-06-12T20:50:10+0000",31,"wjriehl",25022,"wjriehl:narrative_1502225097649","e3c5ef03e533d37226ab5ec1b3d82893",12261043,{"Source_File_Name":"/homes/seaver/Plant_Genomes/CDM/Staging/Phytozome/11/Athaliana/TAIR10/Athaliana_167_TAIR10.gene.gff3.gz","Release":"TAIR10","Source":"pacid","Name":"Arabidopsis
        thaliana"}],[24,"4529_Ensembl","KBaseGenomeAnnotations.GenomeAnnotation-2.1","2019-06-12T20:50:42+0000",2,"wjriehl",25022,"wjriehl:narrative_1502225097649","00769e5ad8f120886adc790f4c2961ef",28061149,{}],[25,"bsub_annotation","KBaseGenomes.Genome-8.0","2019-06-12T20:51:08+0000",15,"wjriehl",25022,"wjriehl:narrative_1502225097649","c85809f93839d0316bd231b3d3ba658f",2684445,{"GC
        content":"0.5","Genetic code":"11","Close genomes":"30","S[...]
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "25022/34/1"}]}],
      "version": "1.1", "id": "4591354083998074"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"direct_html":null,"direct_html_link_index":0,"file_links":[],"html_links":[{"URL":"https://ci.kbase.us/services/shock-api/node/ed70d6a5-351f-4b7e-83e7-8fc61cebe24c","description":"HTML
        summary report for imported Genome","handle":"KBH_476764","label":"report.html","name":"report.html"}],"html_window_height":300,"objects_created":[{"description":"Imported
        Annotated Metagenome Assembly","ref":"25022/33/1"}],"summary_window_height":null,"text_message":"","warnings":[]},"info":[34,"kb_genome_upload_report_e3711ce8-0675-4b3d-a851-8928303c70fe","KBaseReport.Report-3.0","2019-07-26T21:31:23+0000",1,"wjriehl",25022,"wjriehl:narrative_1502225097649","f101832d31825e7b6278b2153e1a8ccc",472,{"Size(characters)":"0","Objects
        Created":"1","Warnings":"0"}],"path":["25022/34/1"],"provenance":[{"time":"2019-07-26T20:53:34+0000","epoch":1564174414000,"service":"kb_uploadmethods","service_ver":"1.0.31","method":"upload_metagenome_fasta_gff_file","method_params":[{"genetic_code":null,"taxon_wsname":null,"genome_name":"metagenome.gff_metagenome","release":null,"gff_file":"metagenome.gff","taxon_id":null,"generate_missing_genes":1,"source":"Other","fasta_file":"metagenome.fa","workspace_name":"wjriehl:narrative_1502225097649"}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"kb_uploadmethods","ver":"1.0.31","code_url":"https://github.com/kbaseapps/kb_uploadmethods","commit":"eaacbb349d721977a6c667031f37c5a60f3528c5"},{"name":"DataFileUtil","ver":"0.1.1-release","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"7f5646bc29b5cb35d32c86f3acdf7b18a0f6d53f"},{"name":"GenomeFileUtil","ver":"0.8.14-dev","code_url":"https://github.com/kbaseapps/GenomeFileUtil","commit":"1f23a974376074c67844762624376555ed7b9281"},{"name":"AssemblyUtil","ver":"1.1.0-release","code_url":"https://github.com/kbaseapps/AssemblyUtil","commit":"afd3f360f4fb30143bca41cf58c1977d8ab45e8b"},{"name":"WsLargeDataIO","ver":"0.0.3-beta","code_url":"https://github.com/kbaseapps/WsLargeDataIO","commit":"8d76a294f3877be83cce9b51daebe541acc107d3"},{"name":"KBaseReport","ver":"3.0.5-release","code_url":"https://github.com/kbaseapps/KBaseReport","commit":"0356e0313025b0d4b1b7fa11e96050aeaaaa828c"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"wjriehl","orig_wsid":25022,"created":"2019-07-26T21:31:21+0000","epoch":1564176681964,"refs":["25022/33/1"],"copy_source_inaccessible":0,"extracted_ids":{"handle":["KBH_476764"]}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "25022/13/1"}]}],
      "version": "1.1", "id": "8361360781672871"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"direct_html":null,"direct_html_link_index":0,"file_links":[],"html_links":[{"URL":"https://ci.kbase.us/services/shock-api/node/4b3c9bcd-edbb-47f9-976e-d64a2d689514","description":"Just
        an example report","handle":"KBH_237533","label":null,"name":"index.html"}],"html_window_height":null,"objects_created":[],"summary_window_height":null,"text_message":"This
        is a report message"},"info":[13,"NarrativeTest.example_report8e0d950c-f727-4acb-a51b-2c70fdb9e8f7","KBaseReport.Report-3.0","2018-01-22T20:40:24+0000",1,"wjriehl",25022,"wjriehl:narrative_1502225097649","27ff2a273135d83e3ea40ee87422cc31",381,{"Size(characters)":"24","Objects
        Created":"0"}],"path":["25022/13/1"],"provenance":[{"service":"KBaseReport","method":"create_extended_report","method_params":[{"report_object_name":"NarrativeTest.example_report8e0d950c-f727-4acb-a51b-2c70fdb9e8f7","message":"This
        is a report message","html_links":[{"shock_id":"4b3c9bcd-edbb-47f9-976e-d64a2d689514","name":"index.html","description":"Just
        an example report"}],"workspace_name":"wjriehl:narrative_1502225097649","direct_html_link_index":0}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[],"custom":{}}],"creator":"wjriehl","orig_wsid":25022,"created":"2018-01-22T20:40:24+0000","epoch":1516653624526,"refs":[],"copy_source_inaccessible":0,"extracted_ids":{"handle":["KBH_237533"]}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "25022/8/1"}]}],
      "version": "1.1", "id": "08065553597464914"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"direct_html":null,"direct_html_link_index":null,"file_links":[],"html_links":[],"html_window_height":null,"objects_created":[],"summary_window_height":null,"text_message":"Import
        Finished\nAssembly Object Name: Desulfovibrio_vulgaris_Hildenborough_C1.fasta_assembly\nImported
        Fasta File: Desulfovibrio_vulgaris_Hildenborough_C1.fasta\nDNA Size: 3,570,858\nBase
        Count:\n \"A\": 659017, \n \"C\": 1127624, \n \"T\": 657108, \n \"G\": 1127109\n"},"info":[8,"kb_upload_mothods_report_fa129740-a73b-4243-a081-67c68d4b9432","KBaseReport.Report-3.0","2018-01-18T22:54:32+0000",1,"wjriehl",25022,"wjriehl:narrative_1502225097649","3574e30c8df02f4a3edbb0c93d619bd8",445,{"Size(characters)":"252","Objects
        Created":"0"}],"path":["25022/8/1"],"provenance":[{"service":"KBaseReport","method":"create_extended_report","method_params":[{"report_object_name":"kb_upload_mothods_report_fa129740-a73b-4243-a081-67c68d4b9432","message":"Import
        Finished\nAssembly Object Name: Desulfovibrio_vulgaris_Hildenborough_C1.fasta_assembly\nImported
        Fasta File: Desulfovibrio_vulgaris_Hildenborough_C1.fasta\nDNA Size: 3,570,858\nBase
        Count:\n \"A\": 659017, \n \"C\": 1127624, \n \"T\": 657108, \n \"G\": 1127109\n","workspace_name":"wjriehl:narrative_1502225097649"}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[],"custom":{}}],"creator":"wjriehl","orig_wsid":25022,"created":"2018-01-18T22:54:32+0000","epoch":1516316072899,"refs":[],"copy_source_inaccessible":0,"extracted_ids":{}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "25022/31/1"}]}],
      "version": "1.1", "id": "9720028966622425"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"direct_html":null,"direct_html_link_index":0,"file_links":[],"html_links":[{"URL":"https://ci.kbase.us/services/shock-api/node/b0b71045-fb02-48b5-a55b-7cbc5008445e","description":"HTML
        summary report for Imported Assembly","handle":"KBH_476021","label":"report.html","name":"report.html"}],"html_window_height":460,"objects_created":[{"description":"Imported
        Reads","ref":"25022/30/1"}],"summary_window_height":null,"text_message":"","warnings":[]},"info":[31,"kb_sra_upload_report_fdf10dfe-4c80-4515-923a-263556c8f3e9","KBaseReport.Report-3.0","2019-07-23T22:53:53+0000",1,"wjriehl",25022,"wjriehl:narrative_1502225097649","ba245d1afe2f58d3971da6a2244fee12",450,{"Size(characters)":"0","Objects
        Created":"1","Warnings":"0"}],"path":["25022/31/1"],"provenance":[{"time":"2019-07-23T22:46:12+0000","epoch":1563921972000,"service":"kb_uploadmethods","service_ver":"1.0.29","method":"import_reads_from_staging","method_params":[{"fastq_fwd_staging_file_name":"small.forward.fq","sequencing_tech":"Illumina","insert_size_std_dev":null,"name":"small_pe_reads","insert_size_mean":null,"interleaved":1,"single_genome":1,"import_type":"FASTQ/FASTA","read_orientation_outward":0,"sra_staging_file_name":null,"fastq_rev_staging_file_name":"small.reverse.fq","workspace_name":"wjriehl:narrative_1502225097649"}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"kb_uploadmethods","ver":"1.0.29","code_url":"https://github.com/kbaseapps/kb_uploadmethods","commit":"4c0579bec5aa606f5e42cf29d920872d34ea5b52"},{"name":"ReadsUtils","ver":"0.3.12-release","code_url":"https://github.com/kbaseapps/ReadsUtils","commit":"e644add24aa36536a2d488e5a814226771a9292a"},{"name":"DataFileUtil","ver":"0.1.1-release","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"7f5646bc29b5cb35d32c86f3acdf7b18a0f6d53f"},{"name":"kb_ea_utils","ver":"1.1.0-release","code_url":"https://github.com/kbaseapps/kb_ea_utils","commit":"bcbdd44da1f13e14325deeca99a93211939a7ba9"},{"name":"KBaseReport","ver":"3.0.5-release","code_url":"https://github.com/kbaseapps/KBaseReport","commit":"0356e0313025b0d4b1b7fa11e96050aeaaaa828c"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"wjriehl","orig_wsid":25022,"created":"2019-07-23T22:53:52+0000","epoch":1563922432275,"refs":["25022/30/1"],"copy_source_inaccessible":0,"extracted_ids":{"handle":["KBH_476021"]}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "NarrativeMethodStore.get_method_full_info", "params": [{"ids":
      ["NarrativeTest/report_example", "NarrativeTest/introspect_job", "kb_uploadmethods/import_gff_fasta_as_metagenome_from_staging",
      "NarrativeTest/test_input_params", "NarrativeTest/test_input_widget", "kb_uploadmethods/import_fasta_as_assembly_from_staging"],
      "tag": "dev"}], "version": "1.1", "id": "6977264820887517"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/narrative_method_store/rpc
  response:
    body:
      string: '{"version":"1.1","result":[[{"id":"NarrativeTest/report_example","module_name":"NarrativeTest","git_commit_hash":"a17cce938a979c42022cb5e9d416604f87d8a69d","name":"Example
[...]
