interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "69666/1050/10"}]}],
      "version": "1.1", "id": "41233465282062964"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"cells":[{"cell_type":"code","execution_count":2,"metadata":{"kbase":{"attributes":{"created":"Mon,
        04 Apr 2022 14:46:25 GMT","id":"be1ce588-c66e-45f5-9866-1aec68f1aed3","lastLoaded":"Tue,
        25 Jun 2024 15:54:52 GMT","status":"new","subtitle":"Import files into your
        Narrative as data objects","title":"Import from Staging Area"},"bulkImportCell":{"app":{"fileParamIds":{"assembly":["staging_file_subdir_path","assembly_name"],"fastq_reads_interleaved":["fastq_fwd_staging_file_name","name"],"fastq_reads_noninterleaved":["fastq_fwd_staging_file_name","fastq_rev_staging_file_name","name"],"genbank_genome":["staging_file_subdir_path","genome_name"],"sra_reads":["sra_staging_file_name","name"]},"otherParamIds":{"assembly":["type","min_contig_length"],"fastq_reads_interleaved":["sequencing_tech","single_genome","read_orientation_outward","insert_size_std_dev","insert_size_mean"],"fastq_reads_noninterleaved":["sequencing_tech","single_genome","read_orientation_outward","insert_size_std_dev","insert_size_mean"],"genbank_genome":["genome_type","source","release","genetic_code","scientific_name","generate_ids_if_needed","generate_missing_genes"],"sra_reads":["sequencing_tech","single_genome","read_orientation_outward","insert_size_std_dev","insert_size_mean"]},"outputParamIds":{"assembly":["assembly_name"],"fastq_reads_interleaved":["name"],"fastq_reads_noninterleaved":["name"],"genbank_genome":["genome_name"],"sra_reads":["name"]},"specs":{"kb_uploadmethods/import_fasta_as_assembly_from_staging":{"behavior":{"kb_service_input_mapping":[{"narrative_system_variable":"workspace","target_property":"workspace_name"},{"input_parameter":"type","target_property":"type"},{"input_parameter":"min_contig_length","target_property":"min_contig_length"},{"input_parameter":"assembly_name","target_property":"assembly_name"},{"input_parameter":"staging_file_subdir_path","target_property":"staging_file_subdir_path"}],"kb_service_method":"import_fasta_as_assembly_from_staging","kb_service_name":"kb_uploadmethods","kb_service_output_mapping":[{"narrative_system_variable":"workspace","target_property":"wsName"},{"service_method_output_path":["0","obj_ref"],"target_property":"obj_ref","target_type_transform":"resolved-ref"},{"service_method_output_path":["0","report_name"],"target_property":"report_name"},{"service_method_output_path":["0","report_ref"],"target_property":"report_ref"},{"constant_value":"16","target_property":"report_window_line_height"}],"kb_service_url":"","kb_service_version":"bcfe5e28883b83593893f5fe970b45fa4c0b5341"},"fixed_parameters":[],"full_info":{"app_type":"app","authors":["tgu2"],"categories":["inactive","reads","upload"],"contact":"http://kbase.us/contact-us/","description":"<p>
        Import a FASTA file from your staging area into your Narrative as an Assembly
        data object.\nPlease see the <a href=\"http://kbase.us/data-upload-download-guide/\">Data
        Upload/Download Guide</a> for more information. </p>","git_commit_hash":"bcfe5e28883b83593893f5fe970b45fa4c0b5341","icon":{"url":"img?method_id=kb_uploadmethods/import_fasta_as_assembly_from_staging&image_name=data-blue.png&tag=release"},"id":"kb_uploadmethods/import_fasta_as_assembly_from_staging","module_name":"kb_uploadmethods","name":"Import
        FASTA File as Assembly from Staging Area","namespace":"kb_uploadmethods","publications":[],"screenshots":[],"subtitle":"Import
        a FASTA file from your staging area into your Narrative as an Assembly data
        object","suggestions":{"next_apps":[],"next_methods":[],"related_apps":[],"related_methods":[]},"tag":"release","technical_description":"","tooltip":"Import
        a FASTA file from your staging area into your Narrative as an Assembly data
        object","ver":"1.0.51"},"info":{"app_type":"app","authors":["tgu2"],"categories":["inactive","reads","upload"],"git_commit_hash":"bcfe5e28883b83593893f5fe970b45fa4c0b5341","icon":{"url":"img?method_id=kb_uploadmethods/import_fasta_as_assembly_from_staging&image_name=data-blue.png&tag=release"},"id":"kb_uploadmethods/import_fasta_as_assembly_from_staging","input_types":[],"module_name":"kb_uploadmethods","name":"Import
        FASTA File as Assembly from Staging Area","namespace":"kb_uploadmethods","output_types":["KBaseGenomeAnnotations.Assembly"],"subtitle":"Import
        a FASTA file from your staging area into your Narrative as an Assembly data
        object","tooltip":"Import a FASTA file from your staging area into your Narrative
        as an Assembly data object","ver":"1.0.51"},"job_id_output_field":"docker","parameters":[{"advanced":0,"allow_multiple":0,"default_values":[""],"description":"Recognized
        extensions for the FASTA input file are .fasta, .fna, .fa, or .gz","disabled":0,"dynamic_dropdown_options":{"data_source":"ftp_staging","multiselection":0,"query_on_empty_input":1,"result_array_index":0,"service_params":null},"field_type":"dynamic_dropdown","id":"staging_file_subdir_path","optional":0,"short_hint":"File
        with DNA data (one or more sequences) in FASTA format.","ui_class":"parameter","ui_name":"FASTA
        file path"},{"advanced":0,"allow_multiple":0,"default_values":["draft isolate"],"description":"The
        type or source of this assembly","disabled":0,"dropdown_options":{"multiselection":0,"options":[{"display":"Draft
        Isolate","value":"draft isolate"},{"display":"Finished Isolate","value":"finished
        isolate"},{"display":"Metagenome-assembled genome (MAG)","value":"mag"},{"display":"Single
        amplified genome (SAG)","value":"sag"},{"display":"Virus","value":"virus"},{"display":"Plasmid","value":"plasmid"},{"display":"Construct","value":"construct"}]},"field_type":"dropdown","id":"type","optional":0,"short_hint":"The
        type or source of this assembly","ui_class":"parameter","ui_name":"Assembly
        Type"},{"advanced":0,"allow_multiple":0,"default_values":["500"],"description":"Contigs
        shorter than this value will be filtered out. Try larger value if upload fails.","disabled":0,"field_type":"text","id":"min_contig_length","optional":0,"short_hint":"Contigs
        shorter than this length will be filtered out","text_options":{"is_output_name":0,"placeholder":"","regex_constraint":[],"validate_as":"int"},"ui_class":"parameter","ui_name":"Minimum
        contig length"},{"advanced":0,"allow_multiple":0,"default_values":[""],"description":"Provide
        a name for the Assembly that will be created by this importer","disabled":0,"field_type":"text","id":"assembly_name","optional":0,"short_hint":"Provide
        a name for the Assembly that will be created by this importer","text_options":{"is_output_name":1,"placeholder":"","regex_constraint":[],"valid_ws_types":["KBaseGenomeAnnotations.Assembly"]},"ui_class":"output","ui_name":"Assembly
        object name"}],"widgets":{"input":"kbaseNarrativeMethodInput","output":"no-display"}},"kb_uploadmethods/import_fastq_interleaved_as_reads_from_staging":{"behavior":{"kb_service_input_mapping":[{"narrative_system_variable":"workspace","target_property":"workspace_name"},{"constant_value":"FASTQ/FASTA","target_property":"import_type"},{"input_parameter":"fastq_fwd_staging_file_name","target_property":"fastq_fwd_staging_file_name"},{"input_parameter":"sequencing_tech","target_property":"sequencing_tech"},{"input_parameter":"name","target_property":"name"},{"input_para[...]
- request:
    body: '{"method": "ServiceWizard.get_service_status", "params": [{"module_name":
      "SetAPI", "version": "release"}], "version": "1.1", "id": "16722845423403665"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/service_wizard
  response:
    body:
      string: '{"version": "1.1", "result": [{"git_commit_hash": "5a838320de2b4884f11457a51a26870eadb175f6",
        "status": "active", "version": "0.3.5", "hash": "5a838320de2b4884f11457a51a26870eadb175f6",
        "release_tags": ["release", "beta"], "url": "https://ci.kbase.us:443/dynserv/5a838320de2b4884f11457a51a26870eadb175f6.SetAPI",
        "module_name": "SetAPI", "health": "healthy", "up": 1}], "id": "16722845423403665"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "SetAPI.list_sets", "params": [{"workspaces": [69666], "include_set_item_info":
      1, "include_metadata": 1}], "version": "1.1", "id": "7913511847646375"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/dynserv/5a838320de2b4884f11457a51a26870eadb175f6.SetAPI
  response:
    body:
      string: '{"version": "1.1", "result": [{"sets": [{"ref": "69666/1014/1", "info":
        [1014, "Crappy_reads_set", "KBaseSets.ReadsSet-1.3", "2023-10-19T13:43:18+0000",
        1, "ialarmedalien", 69666, "ialarmedalien:narrative_1697722991242", "a214f1c9731ca5732b8e88e69929df5e",
        92, {"item_count": "1", "description": "null"}], "items": [{"ref": "67395/1007/1",
        "info": [1007, "rhodobacter.art.q10.PE.reads", "KBaseFile.PairedEndLibrary-2.0",
        "2023-03-10T22:31:25+0000", 1, "ialarmedalien", 67395, "ialarmedalien:narrative_1649942812539",
        "997a75309bf763aad577df56cad4bfd9", 746, {"sequencing_tech": "Illumina", "single_genome":
        "1"}]}]}, {"ref": "69666/1053/1", "info": [1053, "some_more_pe_reads", "KBaseSets.ReadsSet-1.3",
        "2024-06-21T14:51:17+0000", 1, "ialarmedalien", 69666, "ialarmedalien:narrative_1697722991242",
        "e24580fc70484949ed4f36acb43b35fb", 207, {"item_count": "3", "description":
        "null"}], "items": [{"ref": "69666/1016/4", "info": [1016, "rhodo.art.jgi.reads",
        "KBaseFile.PairedEndLibrary-2.0", "2023-10-19T13:43:18+0000", 4, "ialarmedalien",
        69666, "ialarmedalien:narrative_1697722991242", "de8a03fefb60abe573225cf03a42887b",
        542, {"sequencing_tech": "Illumina", "source.project_id": "9000009", "strain.strain":
        "CACIA14H1", "strain.genus": "Rhodobacter", "source.source": "JGI", "strain.species":
        "sp.", "read_size": "100", "read_count": "386108", "source.source_id": "91eec603067c014b2c664ec9"}]},
        {"ref": "69666/1007/1", "info": [1007, "rhodobacter.art.q10.PE.reads", "KBaseFile.PairedEndLibrary-2.0",
        "2023-10-19T13:43:17+0000", 1, "ialarmedalien", 69666, "ialarmedalien:narrative_1697722991242",
        "997a75309bf763aad577df56cad4bfd9", 746, {"sequencing_tech": "Illumina", "single_genome":
        "1"}]}, {"ref": "67395/1007/1", "info": [1007, "rhodobacter.art.q10.PE.reads",
        "KBaseFile.PairedEndLibrary-2.0", "2023-03-10T22:31:25+0000", 1, "ialarmedalien",
        67395, "ialarmedalien:narrative_1649942812539", "997a75309bf763aad577df56cad4bfd9",
        746, {"sequencing_tech": "Illumina", "single_genome": "1"}]}]}]}], "id": "7913511847646375"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "Workspace.get_workspace_info", "params": [{"id": 69666}], "version":
      "1.1", "id": "2288531203880867"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[69666,"ialarmedalien:narrative_1697722991242","ialarmedalien","2024-06-25T15:55:08+0000",1056,"a","r","unlocked",{"narrative_nice_name":"Some
        newer crap","cell_count":"30","searchtags":"narrative","is_temporary":"false","narrative":"1050"}]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "Workspace.list_objects", "params": [{"includeMetadata": 1,
      "ids": [69666], "minObjectID": 1, "maxObjectID": 10000}], "version": "1.1",
      "id": "28791947423243436"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[[2,"assy00001","KBaseGenomeAnnotations.Assembly-6.0","2023-10-19T13:43:11+0000",1,"ialarmedalien",69666,"ialarmedalien:narrative_1697722991242","d41aed430c815eb3727104bb64b082f2",795,{"GC
        content":"0.51974","Size":"1520","N Contigs":"1","MD5":"8aef91808230475239e69d9260f0ca02"}],[3,"assy00002","KBaseGenomeAnnotations.Assembly-6.0","2023-10-19T13:43:11+0000",1,"ialarmedalien",69666,"ialarmedalien:narrative_1697722991242","832dd70c8e74ca1e2c30a9a0bb109a5a",795,{"GC
        content":"0.51974","Size":"1520","N Contigs":"1","MD5":"8aef91808230475239e69d9260f0ca02"}],[4,"assy00003","KBaseGenomeAnnotations.Assembly-6.0","2023-10-19T13:43:11+0000",1,"ialarmedalien",69666,"ialarmedalien:narrative_1697722991242","512529e99ac8014a5b678c6b1bd268[...]
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "67395/1013/1"}]}],
      "version": "1.1", "id": "7482413697188168"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"objects_created":[{"description":"KButil_Batch_Create_AssemblySet
        with name_pattern: assy00","ref":"67395/1012/1"}],"text_message":"assembly
        objs in output set some_crappy_assemblies: 499"},"info":[1013,"report_cd5b19e7-16d1-4ceb-8771-8996416a3b1d","KBaseReport.Report-3.0","2023-10-11T13:41:36+0000",1,"ialarmedalien",67395,"ialarmedalien:narrative_1649942812539","5e5520a01028fc8683c491e4cedf6d33",191,{"Size(characters)":"55","Objects
        Created":"1"}],"path":["67395/1013/1"],"provenance":[{"time":"2023-10-11T13:41:11+0000","epoch":1697031671000,"service":"kb_SetUtilities","service_ver":"79b273010c6c30b9343e03b64b7d7502ded704ce","method":"KButil_Batch_Create_AssemblySet","method_params":[{"output_name":"some_crappy_assemblies","name_pattern":"assy00*","workspace_name":"ialarmedalien:narrative_1649942812539","desc":null}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"kb_SetUtilities","ver":"79b273010c6c30b9343e03b64b7d7502ded704ce","code_url":"https://github.com/kbaseapps/kb_SetUtilities","commit":"79b273010c6c30b9343e03b64b7d7502ded704ce"},{"name":"KBaseReport","ver":"release","code_url":"https://github.com/kbaseapps/KBaseReport","commit":"b8bb470a4c88d65230e525db48d6a3730069185d"},{"name":"DataFileUtil","ver":"release","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"6268e0f87425cdd96901299e618d6778aa44425a"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"ialarmedalien","orig_wsid":67395,"created":"2023-10-11T13:41:36+0000","epoch":1697031696463,"refs":["67395/1012/1"],"copy_source_inaccessible":0,"extracted_ids":{}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "Workspace.get_object_info3", "params": [{"objects": [{"ref":
      "67395/1012/1"}], "ignoreErrors": 1}], "version": "1.1", "id": "9769508967377394"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"infos":[[1012,"some_crappy_assemblies","KBaseSets.AssemblySet-2.3","2023-10-11T13:41:23+0000",1,"ialarmedalien",67395,"ialarmedalien:narrative_1649942812539","ffbd4a6d16082e34fca1e93e39c1735a",20928,null]],"paths":[["67395/1012/1"]]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "67395/1021/1"}]}],
      "version": "1.1", "id": "1809278619443394"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"objects_created":[{"description":"KButil_Build_GenomeSet","ref":"67395/1020/1"}],"text_message":"genomes
        in output set get: 2\n"},"info":[1021,"report_90ba1c56-f6e5-4a64-aced-0334ca068656","KBaseReport.Report-3.0","2023-10-12T21:01:21+0000",1,"ialarmedalien",67395,"ialarmedalien:narrative_1649942812539","45a18c473eea1931ee4f820e7f58ed84",131,{"Size(characters)":"29","Objects
        Created":"1"}],"path":["67395/1021/1"],"provenance":[{"time":"2023-10-12T21:01:04+0000","epoch":1697144464000,"service":"kb_SetUtilities","service_ver":"79b273010c6c30b9343e03b64b7d7502ded704ce","method":"KButil_Build_GenomeSet","method_params":[{"output_name":"get","input_refs":["67395/1009/6","67395/1004/1"],"workspace_name":"ialarmedalien:narrative_1649942812539","desc":null}],"input_ws_objects":["67395/1009/6","67395/1004/1"],"resolved_ws_objects":["67395/1009/6","67395/1004/1"],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"kb_SetUtilities","ver":"79b273010c6c30b9343e03b64b7d7502ded704ce","code_url":"https://github.com/kbaseapps/kb_SetUtilities","commit":"79b273010c6c30b9343e03b64b7d7502ded704ce"},{"name":"KBaseReport","ver":"release","code_url":"https://github.com/kbaseapps/KBaseReport","commit":"b8bb470a4c88d65230e525db48d6a3730069185d"},{"name":"DataFileUtil","ver":"release","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"6268e0f87425cdd96901299e618d6778aa44425a"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"ialarmedalien","orig_wsid":67395,"created":"2023-10-12T21:01:20+0000","epoch":1697144480939,"refs":["67395/1020/1"],"copy_source_inaccessible":0,"extracted_ids":{}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"method": "NarrativeMethodStore.get_method_full_info", "params": [{"ids":
      ["kb_SetUtilities/KButil_Build_AssemblySet", "kb_SetUtilities/KButil_Build_ReadsSet",
      "FeatureSetUtils/build_feature_set", "kb_SetUtilities/KButil_Build_GenomeSet",
      "kb_SetUtilities/KButil_Add_Genomes_to_GenomeSet", "kb_SetUtilities/KButil_Batch_Create_AssemblySet"],
      "tag": "release"}], "version": "1.1", "id": "7167772892676574"}'
    headers:
    method: POST
    uri: https:/[...]
[...]
- request:
    body: '{"method": "Workspace.get_permissions", "params": [{"id": 69666}], "version":
      "1.1", "id": "5442914778176037"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"ialarmedalien":"a","*":"r"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"method": "Workspace.list_objects", "params": [{"includeMetadata": 1,
      "type": "KBaseSets.ReadsSet", "ids": [69666], "minObjectID": 1, "maxObjectID":
      10000}], "version": "1.1", "id": "5078864084162696"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[[[1014,"Crappy_reads_set","KBaseSets.ReadsSet-1.3","2023-10-19T13:43:18+0000",1,"ialarmedalien",69666,"ialarmedalien:narrative_1697722991242","a214f1c9731ca5732b8e88e69929df5e",92,{"item_count":"1","description":"null"}],[1053,"some_more_pe_reads","KBaseSets.ReadsSet-1.3","2024-06-21T14:51:17+0000",1,"ialarmedalien",69666,"ialarmedalien:narrative_1697722991242","e24580fc70484949ed4f36acb43b35fb",207,{"item_count":"3","description":"null"}]]]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "69666/1014/1"},
      {"ref": "69666/1053/1"}], "no_data": 1}], "version": "1.1", "id": "6257595050831514"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"info":[1014,"Crappy_reads_set","KBaseSets.ReadsSet-1.3","2023-10-19T13:43:18+0000",1,"ialarmedalien",69666,"ialarmedalien:narrative_1697722991242","a214f1c9731ca5732b8e88e69929df5e",92,{"item_count":"1","description":"null"}],"path":["69666/1014/1"],"provenance":[{"service":"SetAPI","method":"save_reads_set_v1","method_params":[{"output_object_name":"Crappy_reads_set","data":{"description":null,"items":[{"ref":"67395/1007/1","label":"rhodobacter.art.q10.PE.reads"}]},"workspace_name":"ialarmedalien:narrative_1649942812539"}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[],"custom":{}}],"creator":"ialarmedalien","orig_wsid":67395,"created":"2023-10-11T15:42:05+0000","epoch":1697038925679,"refs":["67395/1007/1"],"copied":"67395/1014/1","copy_source_inaccessible":0,"extracted_ids":{}},{"info":[1053,"some_more_pe_reads","KBaseSets.ReadsSet-1.3","2024-06-21T14:51:17+0000",1,"ialarmedalien",69666,"ialarmedalien:narrative_1697722991242","e24580fc70484949ed4f36acb43b35fb",207,{"item_count":"3","description":"null"}],"path":["69666/1053/1"],"provenance":[{"service":"SetAPI","method":"save_reads_set_v1","method_params":[{"output_object_name":"some_more_pe_reads","data":{"description":null,"items":[{"ref":"69666/1007/1","label":"rhodobacter.art.q10.PE.reads"},{"ref":"67395/1007/1","label":"rhodobacter.art.q10.PE.reads"},{"ref":"69666/1016/4","label":"rhodo.art.jgi.reads"}]},"workspace_name":"ialarmedalien:narrative_1697722991242"}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[],"custom":{}}],"creator":"ialarmedalien","orig_wsid":69666,"created":"2024-06-21T14:51:17+0000","epoch":1718981477006,"refs":["69666/1016/4","69666/1007/1","67395/1007/1"],"copy_source_inaccessible":0,"extracted_ids":{}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
[...]
