interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "67395/2066/1"}]}],
      "version": "1.1", "id": "6913073195758159"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","error":{"name":"JSONRPCError","code":-32500,"message":"No
        object with id 2066 exists in workspace 67395 (name ialarmedalien:narrative_1649942812539)","error":"us.kbase.workspace.database.exceptions.NoSuchObjectException:
        No object with id 2066 exists in workspace 67395 (name ialarmedalien:narrative_1649942812539)\n\tat
        us.kbase.workspace.database.mongo.MongoWorkspaceDB.queryObjects(MongoWorkspaceDB.java:3121)\n\tat
        us.kbase.workspace.database.mongo.MongoWorkspaceDB.resolveObjectIDs(MongoWorkspaceDB.java:3066)\n\tat
 [...]
