interactions:
- request:
    body: '{"method": "Workspace.get_object_info3", "params": [{"objects": [{"ref":
      "67395/24/1"}, {"ref": "67395/1066/1"}, {"ref": "67395/2066/1"}], "ignoreErrors":
      1}], "version": "1.1", "id": "07377388742401514"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"infos":[[24,"assy00014","KBaseGenomeAnnotations.Assembly-6.0","2022-04-14T13:26:52+0000",1,"ialarmedalien",67395,"ialarmedalien:narrative_1649942812539","b875f0cb383d3996e57614d39240e486",795,null],null,null],"paths":[["67395/24/1"],null,null]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
