interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "67395/1066/1"}]}],
      "version": "1.1", "id": "44282812097182644"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","error":{"name":"JSONRPCError","code":-32500,"message":"Object
        1066 (name NarrativeTest.example_report7c45168f-f2da-43f8-941f-5c02a129103f)
        in workspace 67395 (name ialarmedalien:narrative_1649942812539) has been deleted","error":"us.kbase.workspace.database.exceptions.DeletedObjectException:
        Object 1066 (name NarrativeTest.example_report7c45168f-f2da-43f8-941f-5c02a129103f)
        in workspace 67395 (name ialarmedalien:narrative_1649942812539) has been deleted\n\tat
        us.kbase.workspace.database.mongo.MongoWorkspaceDB[...]
