interactions:
- request:
    body: '{"method": "Workspace.get_object_info3", "params": [{"objects": [{"ref":
      "67395/24/1"}, {"ref": "67395/26/1"}, {"ref": "67395/1066/1"}, {"ref": "67395/2066/1"},
      {"ref": "67395/1004/1"}], "ignoreErrors": 1}], "version": "1.1", "id": "008791645932054837"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"infos":[[24,"assy00014","KBaseGenomeAnnotations.Assembly-6.0","2022-04-14T13:26:52+0000",1,"ialarmedalien",67395,"ialarmedalien:narrative_1649942812539","b875f0cb383d3996e57614d39240e486",795,null],[26,"assy00015","KBaseGenomeAnnotations.Assembly-6.0","2022-04-14T13:26:52+0000",1,"ialarmedalien",67395,"ialarmedalien:narrative_1649942812539","41c146af80cff5a7d688c812ddf758b9",795,null],null,null,[1004,"_Chrysanthemum_coronarium__phytoplasma","KBaseGenomes.Genome-17.0","2023-03-10T22:30:44+0000",1,"ialarmedalien",67395,"ialarmedalien:narrative_1649942812539","035f385d35a9cf8c7889e5728c5035ef",2505433,null]],"paths":[["67395/24/1"],["67395/26/1"],null,null,["67395/1004/1"]]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
