interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "123/4/5"}]}],
      "version": "1.1", "id": "31658190832048105"}'
    headers:
    method: POST
    uri: https://ci.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","error":{"name":"JSONRPCError","code":-32500,"message":"Object
        4 cannot be accessed: Workspace 123 is deleted","error":"us.kbase.workspace.database.exceptions.InaccessibleObjectException:
        Object 4 cannot be accessed: Workspace 123 is deleted\n\tat us.kbase.workspace.database.PermissionsCheckerFactory$ObjectPermissionsChecker.check(PermissionsCheckerFactory.java:331)\n\tat
        us.kbase.workspace.database.ObjectResolver.resolve(ObjectResolver.java:203)\n\tat
        us.kbase.workspace.database.ObjectResolver.<init>(ObjectResolver.java:80)\n\tat
        us.kbase.workspace.database.ObjectResolver.<init>(ObjectResolver.java:37)\n\tat
        us.kbase.workspace.database.ObjectResolver$Builder.resolve(ObjectResolver.java:593)\n\tat
        us.kbase.workspace.database.Workspace.getObjects(Workspace.java:1067)\n\tat
        us.kbase.workspace.kbase.WorkspaceServerMethods.getObjects(WorkspaceServerMethods.java:479)\n\tat
        us.kbase.workspace.WorkspaceServer.getObjects2(WorkspaceServer.java:804)\n\tat
      [...]
